<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
        <ion-title text-left>All Contacts</ion-title>

  </ion-navbar>
  <ion-searchbar placeholder="Search" class="searchbar" (ionInput)="searchuser($event)"></ion-searchbar>
  <ng-container *ngIf="selectedMember.length > 0">
  <ion-list  class="group-wrap" >
    <ion-item *ngFor="let item of selectedMember">
      <p>{{item.displayName}}</p>
      <ion-avatar item-left><img src="assets/imgs/user.png"></ion-avatar>
    </ion-item>
    <!-- <ion-item *ngFor="let item of selectedMember">-->

    <!-- </ion-item> -->
  </ion-list>
</ng-container>
</ion-header>


<ion-content padding [ngClass]="selectedMember.length > 0?'group-wrap-active':'group-wrap-no-active'">

   <ion-list>
    <ng-container *ngFor="let key of myFriends">
      <ion-item (click)="addContact(key)">
        <ion-avatar item-left><img src="assets/imgs/user.png"></ion-avatar>
        <h2>{{key.displayName}}</h2>
      </ion-item>
    </ng-container>
</ion-list>


<ion-fab bottom right>
  <button ion-fab [disabled]="selectedMember.length == 0" (click)="goNext()"><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
</ion-fab>

</ion-content>
