page-allbuddy-contacts {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .left-arrow {
      order:1;
      margin-right: 10px;
    }
    .header-title {
      order: 2;
      font-size: 20px;
    }
  }

  ion-list {
    &.group-wrap {
      background-color: $white;
      ion-item {
        &.item {
          display: flex; 
          flex-direction: column;
          height: 80px !important;
          margin-right: 7px !important;
          ion-avatar[item-left] {
              margin: 8px 0 8px 0!important;
          }
          .item-inner {
            padding-right: 0 !important;
          }
        }
      }
      ion-label {
        &.label {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 50px;
          text-align: center;
          margin-right: 0 !important;
        }
      }
    }
  }

  ion-item {
    &.item-block {
      padding-left: 0 !important;
    }
  }
  .group-wrap-active {
    .scroll-content {
      margin-top: 190px !important;
    }
  }

  /* design for ios */
    .group-wrap-active {
      &.content-ios {
        .scroll-content {
          margin-top: 135px !important;
        }
      }
    }
}
