page-chats {
 
    .searchbar.searchbar-ios .searchbar-search-icon {
      margin-left:  0px !important;
    }

    .footer-md {
        bottom: 58px;
    }
    .footer-ios {
        bottom: 50px;
    }
  .mainitemlist {
    background-color: #fff;
  }
  .list-md > .list,
  .list-ios > .list
  {
      background-color: #fff;
      border-bottom: 1px solid #e2dbf9;
  }

  .liftupfab_not_paid {
    margin-bottom: 170px;
  }
  .liftupfab_paid {
    margin-bottom: 110px;
  }

  .c_liftupfab_not_paid {
    margin-bottom: 110px;
  }
  .c_liftupfab_paid {
    margin-bottom: 55px;
  }

  /*
  .liftupfab_not_paid {
    bottom: 180px;
  }
  .liftupfab_paid {
    bottom: 120px;
  }
  .liftupbylineone {
    bottom: 60px;
  }
  */
  .lastMSG{
    color: #666;
  }
  .example-card {
    max-width: 400px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .referralicon {
    font-size:40px;
  }
  .item-block {
    padding: 1px;
    button {
      @extend .bg-transparent;
      .referralicon {
        font-size:40px;
      }

    }
  }
  .searchbar {
      background-color: #ddd;
  }
  .item-md .avtar-class,
  .item-ios .avtar-class {
    margin-left:10px;
  }
  .list-md .item-block .item-inner,
  .list-ios .item-block .item-inner
  {
      border-bottom: 0px solid #dedede;
  }

  .displayName {
     font-weight:bold;
  }
  .btnsonthelast ,
  .list .item-md [item-end],
  .list .item-ios [item-end]
  {
    margin:0px 2px 0px 10px;
  }

  .btnsonthelast .item-button {
    padding:0px;
    margin:0px;
  }
  .btnsonthelast .item-button {
    height: auto;
  }

  .sponseredbusines_ionlist {
    background-color: #f8f7fc;
  }
  .sponseredbusines_iconhelp {
    color:#999;
    position: relative;
    top:2px;
    font-size: 20px;
  }
  .sponseredbusines_bottom   {
    padding: 0px 10px;
  }
  .sponseredbusines_ionlist,sponseredbusines_ionitem {
    padding:0px;
    margin:0px;
  }
  .referralicon_s{
    font-size:30px;
  }
}



/*
page-chats {
  .label-md {
    margin: 7px 8px 7px 0 ;
  }
  .item-block button .icon {
      color: #111;
  }

  .header-wrap {
    display: flex;
    align-items: left;
    justify-content: space-between;
    .user-img {
      order:1;
      height: 55px;
      width: 55px;
      margin: 0;
      border-radius: 100%;
      img {
        height: 50px;
        min-width: 50px;
        border-radius: 100%;
      }
    }
    .header-title {
      order:2;
      font-size: 20px;
      font-weight: 500;
    }
    .flex-end {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      order:3;
      ion-icon {
        &.notification {
          font-size: 28px !important;
        }
      }
      ion-badge {
        &.notification {
          margin-left: -13px;
          margin-top: -13px;
          font-size: 11px;
          padding: 4px;
        }
      }
    }
  }
  .select-wrap {
    display: flex;
    align-items: center;
    justify-content:space-between;
    .flex-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
        order:1;
        margin-top: 0 !important;
        margin-right: 10px;
      }
      .select-title {
        order:2;
        font-size:20px;
      }
    }
    .flex-end {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .disable-hover {
        margin: 0 !important;
        background-color: transparent;
        box-shadow: none;
      }
      .trash-icon {
        order: 1;
        box-shadow: none;
        background-color: transparent;
      }
      .unarchive-img {
        order: 2;
        justify-content: flex-end;
        img {
          width: 16px;
          height: 16px;
        }
      }
      .bar-buttons {
        margin-top: 0 !important;
      }
    }
  }
  .endItem{
    height:35px;
    p {
      font-size:10px;
    }
    button {
      text-align:right;
    }
  }

  .lastMSG {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size:15px;
    color:#666;
    ion-icon {
      &.icon {
        margin-right: 5px;
      }
    }
  }

  ion-badge {
    &.badge {
      padding: 4px 6px 3px;
      margin-top: 5px !important;
      border-radius: 50%;
    }
  }

  .select-contact{
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: rgba(53, 159, 192, .3);
      content: '';
    }
  }
  .searchbar {
    @extend .searchbar;
  }
  .item-block {
    padding: 1px;
    button {
      @extend .bg-transparent;
      .icon {
        font-size: 20px;
        @extend .text-primary;
      }
      .referralicon {
        font-size:40px;
      }

    }
  }
  button {
    &.user-img {
      height: 55px;
      width: 55px;
      margin: 0;
      border-radius: 100%;
      .button-inner {
        img {
          height: 50px;
          min-width: 50px;
          border-radius: 100%;
        }
      }
    }
  }
  ion-buttons {
    &.bar-buttons {
      float: right;
      display: inline-block;
    }
  }
  ion-item-divider {
    color: #858585 !important;
    &.item {
      border-bottom: 0 !important;
      border-top: 0 !important;
    }
    ion-label {
      &.label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
    }
  }
    ion-item-divider {
      &.item-divider-ios {
        background-color: transparent !important;
      }
    }

  .referralicon {
    font-size:40px;
  }

  .btnsonthelast .item-button {
      padding: 0 0.6em;
      height: 55px;
      font-size: 1.2rem;
      margin:0px;
  }

  .item-md [item-end] {
      margin:0px;
  }
  .whitelabelcss {
      border:1px solid #ddd;

  }
  .sponseredbusines {
      background-color:#eee;
  }

}
*/
