<ion-header>
    <ion-navbar></ion-navbar>
        <!-- <div class="back"> -->
            <!-- <ion-buttons left>
                <button class="back-btn" navPop icon-only>
                    <ion-icon color="light" name="arrow-back"></ion-icon>
                </button>
            </ion-buttons> -->
        <!-- </div>  -->
</ion-header>

<ion-content class="content-data">
    <ion-list class="main">
    <div *ngIf="allImg.length>0">
        <ion-card *ngFor="let item of allImg">
            <img src="{{item}}" />
        </ion-card>
    </div>
</ion-list>
</ion-content>