<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Send Broadcast</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card  class="maincard_bubble" text-center padding *ngIf="!ever_referral_sent">
    <ion-card-content >
      <ion-card-title>
        Market to your clients
        </ion-card-title>
      <p>
        Send branded push notifications with high level of delivery & better engagement than emails and texts
      </p>
      <button *ngIf="!doIhavebusinessAccount" style="margin-top:15px;" ion-button (click)="sendToBusinessReg()" color="primary" block>Register Your Business</button>
    </ion-card-content>
 </ion-card>

<div *ngIf="doIhavebusinessAccount">
  <h5 class="headingmine">Text To Broadcast (e.g. Promo, Ad)</h5>

  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-textarea  [(ngModel)]="newmessage" [formControl]="message"  type="text"  rows="7" name="message" class="newmsg" placeholder="Write your message ..."></ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button  [disabled]="!isenabled" (click)="broadcast()" ion-button class="btnbroadcast"  color="primary"  >
        <ion-icon  ios="md-send"  md="md-send">  </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div padding>
  </div>
</div>


</ion-content>
