<ion-header>
  <ion-navbar >
    <ion-title>
      Exchange Referral
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <div class="flex-end-notif">
      <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="notifications" class="notification"></ion-icon>
            <ion-badge class="notification" color="danger" *ngIf="requestcounter != null">{{requestcounter}}</ion-badge>
          </button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div>
      <div class="pull-center" style="margin:20px 0px;">
        <h4 class="text_color_primary" >Get Trusted Business Referrals</h4>

        <div style="height:408px;overflow:hidden;border:1px solid #ddd;">
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Search Services"></ion-searchbar>
          <ion-list>
            <ion-item  *ngFor="let item of items">
                 <p (click)="fnGoToHomeAfterINeedTodayPage()">{{item.name}}</p>
                 <ion-icon end item-end (click)="fnGoToHomeAfterINeedTodayPage(item.id)" name='arrow-dropright-circle'> </ion-icon>
            </ion-item>
          </ion-list>
        </div>
        </div>
</div>

        <!--
        <button clear (click)="sendreferraldirectly()" ion-button color="primary" block>or send Referral Directly To Contact</button>
      -->

</ion-content>
