<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Send Referral
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>Forward {{buddy_displayName}}'s referral to someone you know</h3>
      <p>This will help {{buddy_displayName}} connect with your known contact 
      </p>
<br />
        <button ion-button  (click)="forwardContact()" color="primary" block>Forward Contact</button>
  </div>
</ion-content>
