<ion-content class="bg-img">
  <div class="welcome-text" text-center> 
    <h1 class="text-white">Welcome</h1>
    <p class="text-white">Enter your mobile number to get started !!</p>
  </div>
  <ion-card>
    <ion-card-content>
      <form  [formGroup]="authForm">
        <ion-list>
            <ion-item (click)="listCountry()" class="textarea-lbl" >
              <div>
                <p>{{countryName}}<span *ngIf="countryCode">{{' (+'+countryCode+')'}}</span></p>
              </div>
            </ion-item>
            <div *ngIf="countryName == 'Select country' && countryTemp" class="validation-msg">
              <p>Please select country.</p>
            </div>
            <ion-item>
                <ion-input type="number" [formControl]="number" id="number" name="number" [(ngModel)]="phoneNumber.number" placeholder="Enter your mobile number"></ion-input>
            </ion-item>
            <div *ngIf="number.errors && (number.touched || submitAttempt)" class="validation-msg">
              <p> Please enter valid mobile number.</p>
            </div>
            <div *ngIf="InvalidNumErr" class="validation-msg">
              <p> {{InvalidNumErr}}</p>
            </div>
            <ion-item>
              <button ion-button class="button-secondary" type="submit" (click)="doLoginwithMobile(phoneNumber)">Submit</button>
            </ion-item>
            <ion-item>
              <div id="re-container"></div>
            </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
