/**
 * @file
 * SCSS file for Mixins.
 *
 * All mixins used in SCSS are defined in this file.
 * - For prefix properties 'http://shouldiprefix.com/'
 */

/* MediaQueries */
$breakpoints: (
  "phone":        320px,
  "phone-small":  360px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-l":     992px,
  "tablet-wide":  1024px,
  "desktop":      1200px,
  "desktop-wide": 1366px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/* USAGE =====
.class-name {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression}); 
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin css3-sufix($property, $value) {
  #{$property}: -webkit-#{$value};
  #{$property}:  -khtml-#{$value};
  #{$property}:    -moz-#{$value};
  #{$property}:     -ms-#{$value};
  #{$property}:      -o-#{$value};
  #{$property}:         #{$value};
}


/* Flex */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
     -moz-flex-wrap: $value;
      -ms-flex-wrap: $value;
          flex-wrap: $value;
}

@mixin align-items($value) {
  -webkit-align-items: $value;
     -moz-align-items: $value;
      -ms-align-items: $value;
          align-items: $value;
}
@mixin justify-content($value) {
  -webkit-justify-content: $value;
     -moz-justify-content: $value;
      -ms-justify-content: $value;
          justify-content: $value;
}


/* Centre a block element */
@mixin push--auto {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}

/* font Color */
@mixin font-color-set-yellow {
  * { color: $yellow; }
  a {
    &:hover { color: $yellow; }
  }
}

@mixin font-color-set-brown {
  *:not(.btn):not(input):not(textarea):not(select):not(.form-control) { color: $brown; }
  a:not(.btn) {
    &:hover { color: $brown; }
  }
}


/**
 * Gradient
 *
 * background-vertical = Top to Bottom
 * background-horizontal = Left to Right
 * background-diagonal-tl-br = Top-Left to Bottom-Right
 * background-diagonal-bl-tr = Bottom-Left to Top-Right
 */


@mixin background-vertical($top, $bottom) {
  background: $top;
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  background:    -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background:         linear-gradient(to bottom, $top 0%, $bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0);
}

@mixin background-horizontal($left, $middle, $right) {
  background: $left;
  background: -moz-linear-gradient(left, $left 0%, $middle 50%, $right 100%);
  background: -webkit-linear-gradient(left, $left 0%,$middle 50%, $right 100%);
  background: linear-gradient(to right, $left 0%, $middle 50%, $right 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
}

.bg-img {
  background-image: url('../assets/imgs/login-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
