page-country-list {
	.header-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.header-title {
			order:1;
			justify-content: flex-start;
			font-size: 20px;
		}
		.flex-end {
			order:2;
			justify-content: flex-end;
			align-items: center;
		}
	}
	.searchbar {
		background-color: #FAFAFA !important;
		padding: 10px;
	}

}
