<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Your Earnings & Activity
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list  >
    <ion-list-header  no-lines>
      <ion-item   item-end class="text_color_sec"  style="text-align:right;">Balance : $220</ion-item>
    </ion-list-header>
    <ion-list-header color="light" no-lines>
      Your Requests
    </ion-list-header>
    <ion-item (click)="gotoPage()">
      <h2>Need <span class="text_color_primary strongwords">Website Designer</span></h2>
      <h3><ion-badge color="secondary">4 Referrals Recieved</ion-badge> </h3>

      <p>Need some website re-do work...</p>
      <h3 item-end><ion-badge color="primary">Claim Referral Fee</ion-badge> </h3>
    </ion-item>
    <ion-item (click)="gotoPage()">
      <h2>Need <span class="text_color_primary strongwords">Blockchain Expert</span></h2>
      <h3><ion-badge color="secondary_shade">View Request</ion-badge> </h3>

      <p>Doing some ICO, need to build crypto...</p>
      <h3 item-end><ion-badge color="primary">$90 earned</ion-badge> </h3>
    </ion-item>
    <ion-item (click)="gotoPage()">
      <h2>Need <span class="text_color_primary strongwords">Teacher</span></h2>
      <h3><ion-badge color="secondary">1 Referral Recieved</ion-badge> </h3>
      <h3 item-end><ion-badge color="primary">$10 earned</ion-badge> </h3>
      <p>Kids in Grade 3, need STEM teacher...</p>
    </ion-item>
    <ion-item (click)="gotoPage()">
      <h2>Need <span class="text_color_primary strongwords">Other</span></h2>
      <h3><ion-badge color="secondary_shade">View Request</ion-badge> </h3>
        <h3 item-end><ion-badge color="primary">Claim Referral Fee</ion-badge> </h3>
      <p>I just need someone to redefine myself...</p>
    </ion-item>
    <ion-item (click)="gotoPage()">
      <h2>Need <span class="text_color_primary strongwords">Plumber</span></h2>
      <h3><ion-badge color="secondary_shade">View Request</ion-badge> </h3>

        <h3 item-end><ion-badge color="primary">$10 earned</ion-badge> </h3>
      <p>Need 2 tap changes, showerhead, some...</p>
    </ion-item>
    <ion-item class="pull-center" no-lines>
      <p>Load Older Requests</p>
    </ion-item>
  </ion-list>

  <ion-list  >
    <ion-list-header color="light" no-lines>
      Other Activity
    </ion-list-header>
    <ion-item>
      <h2><span class="text_color_primary strongwords">New Member Invited</span></h2>
      <h3 item-end><ion-badge color="secondary">$50 earned</ion-badge> </h3>
      <p>7 x 21 point each</p>
    </ion-item>
    <ion-item>
      <h2><span class="text_color_primary strongwords">New Businesses Invited</span></h2>
      <h3 item-end><ion-badge color="secondary">$0 earned</ion-badge> </h3>
      <p>0 x 5 point each</p>
    </ion-item>
    <ion-item>
      <h2><span class="text_color_primary strongwords">Referral Send</span></h2>
      <h3 item-end><ion-badge color="secondary">$60 earned</ion-badge> </h3>
      <p>0 x 5 point each</p>
    </ion-item>
  </ion-list>

  <ion-list  >
    <ion-list-header color="light" no-lines>
      Amount Paid
      <br><small>(Automatically paid for year end)</small>
    </ion-list-header>

    <ion-item>
      <h2><span class="text_color_primary strongwords">Paid for year 2018 </span></h2>
      <h3 item-end><ion-badge color="secondary">Not Paid Yet</ion-badge> </h3>
      <p>Auto Redeemable on 2019 Jan 01</p>
    </ion-item>
    <ion-item>
      <h2><span class="text_color_primary strongwords">Paid for year 2017 </span></h2>
      <h3 item-end><ion-badge color="secondary">$328</ion-badge> </h3>
      <p>Auto Redeemable on 2018 Jan 01</p>
    </ion-item>
    <ion-item>
      <h2><span class="text_color_primary strongwords">Paid for year 2016</span></h2>
      <h3 item-end><ion-badge color="secondary">$0</ion-badge> </h3>
      <p>Auto Redeemable on 2017 Jan 01</p>
    </ion-item>
  </ion-list>

  <ion-list  >
    <ion-list-header color="light" no-lines>
      Your Subscriptions
    </ion-list-header>
    <ion-item>
      <h2><span class="text_color_primary strongwords">Business Plan </span></h2>
      <h3 item-end><ion-badge color="dark">$30/mo</ion-badge> </h3>
      <p>View/Update Payments On Website </p>
    </ion-item>
  </ion-list>

</ion-content>
