<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Pick Referral
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>Refer Your Contact To {{buddy_displayName}}</h3>
      <p>This will help your contact connect with {{buddy_displayName}}
      </p>
<br />
        <button ion-button  (click)="pickContact()" color="primary" block>Pick Contact</button>
  </div>
</ion-content>
