// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  wcolor:     #009688,
  darkblue:   #387EF5,
  btn-white:  #fff,
);

/* Colors */
$white:      #FFF;
$black:      #000;
$black-41:   #414141;
$red:        #FF0000;
$grey-c8:    #C8C7CC;
$grey:       #999;
$grey-f8:    #F8F8F8;
$grey-dc:    #DCDCDC;
$blue-72:    #72CBFF;
$blue:       #387EF5;
$grey-border: #DEDEDE;
$mebubble-color: #7e57c2;/*49A8C6*/
$yoububble-color: #25663d;
$titlegrey: #5F5F5F;
$checkmarkcolor: #32db64;

$primary-color: #7e57c2; //purple color
$secondary-color: #FFA714; //Orange color
$base-color: #EDEDED; //Grey
$danger: #F53D3D;
$grey-primary: #999;//#B1B0B0



// Font size

$base-font: 16px;
$font-size-16: 16px;
$font-size-18: ceil(($base-font *  1.125)); // 18px;
$font-size-24: ceil(($base-font *  1.5)); // 24px;
$font-size-33: ceil(($base-font *  2)); // 33px;
$font-size-60: ceil(($base-font *  3.35)); // 60px;
$font-size-97: ceil(($base-font *  6.06)); // 97px


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


//@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@import "abstractions/fonts";
@import "abstractions/mixin";
@import "globals/component";
@import "globals/form";
@import "globals/header";
