page-phoneverfy {
  .header {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: -15px;
      margin-bottom: -14px;
      border-style: solid;
      border-width: 15px 15px 0;
      border-color: transparent;
      border-top-color: $primary-color;
      background-image: none;
      content: '';
    }
  }
  .card {
    h2 {
      margin-top: 50px;
      text-align: center;
      white-space: normal;
    }
  }
}
