
<ion-header>

  <ion-navbar >
		<div class="header-wrap">
				<!-- <ion-buttons class="left-arrow" left>
						<button ion-button icon-only (click)="goBack()">
							<ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
						</button>
					</ion-buttons> -->
					<div class="header-title" text-left>Group Members</div>
		</div>
  </ion-navbar>
	<ion-searchbar placeholder="Search" class="searchbar"
	(ionInput)="searchuser($event)"> 
	</ion-searchbar>
</ion-header>

<ion-content>
	<ion-list no-lines>
	  <!-- <ion-item-sliding *ngFor="let key of groupmembers"> -->
	    <ion-item *ngFor="let key of groupmembers">
	      <ion-avatar item-left>
	        <img src="{{key.photoURL}}">
	      </ion-avatar>
	      <h2>{{key.displayName}}</h2>
	      <button ion-button icon-only item-end (click)="removemember(key)">
	        <ion-icon name="trash"></ion-icon>
	      </button>
	    </ion-item>
	    <!-- <ion-item-options slide="left">
	      <button ion-button color="danger" (click)="removemember(key)">
	        <ion-icon name="trash"></ion-icon>
	        Remove
	      </button>
	    </ion-item-options>
	  </ion-item-sliding> -->
	</ion-list>

	<div *ngIf="groupmembers?.length == 0" align="center">
		 No result found!
	</div>
</ion-content>

