/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 * - Text color class
 * - Background color class
 *
 */


body {
  font-family: $montserratregular;
}

/* Text color class */
.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-primary { /* Aqua color */
  color: $primary-color;
}

.text-secondary { /* Orange color */
  color: $secondary-color;
}


/**
 * Background color class
 */
.bg-white { /* White background color */
  background-color: $white !important;
  color: $black;
}
.bg-black { /* black background color */
  background-color: $black;
  color: $white;
}
.bg-primary { /* Aqua background color */
  background-color: $primary-color !important;
  color: $white;
}
.bg-secondary { /* Orange background color */
  background-color: $secondary-color !important;
  color: $white;
}
.bg-grey { /* Grey backgroung color */
  background-color: $base-color !important;
}
.bg-transparent { /* Transparent background color */
  background-color: transparent;
}


/* Card Design */
ion-card.card,
ion-item.item {
  @extend .bg-transparent;
  @include css3-prefix(box-shadow, none);
  ion-card-content.card-content {
    /*padding: 0;*/
    .item {
      padding: 0;
      border: none;
      .item-inner {
        padding: 0;
        @include css3-prefix(box-shadow, none !important) ;
      }
    }
    ion-label.label {
      margin-right: 0;
    }
  }
}


/* Border */
.border-bottom {
  border-bottom: 1px solid $grey-primary;
}
.item-divider {
  border-top: 1px solid #B1B0B0;
  border-bottom: 1px solid #B1B0B0;
  font-weight: 500;
  @extend .text-primary;
  &.item-divider-ios,
  &.item-divider-md {
    @extend .text-primary;
  }
  /*&.item-divider-ios {
    padding-left: 25px;
  }*/
}
.searchbar {
  padding: 10px 16px 20px;
  background-color: #fff;
  border: none;
  &.searchbar-ios,
  &.searchbar-md {
    .searchbar-search-icon {
      top: 13px;
    }
    .searchbar-input {
      @extend input.text-input;
      padding-left: 40px !important;
    }
  }
}
.fab {
  @extend.bg-primary;
}


/* groupbuddies and groupbuddiesadd page design */
ion-list {
  &.group-wrap {
    width: 100%;
    padding-left: 16px;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid $grey-border;
    ion-item {
      &.item-block {
        float: left;
        height: 55px;
        width: auto;
        padding-left: 0;
        display: inline-block;
        .item-inner {
          border-bottom: none !important;
        }
      }
    }
  }
}
/* End */

image-viewer{
  .image {
    margin: 30px;
  }
  .back-button {
    &.show-back-button {
      margin-left: -6px;
    }
  }
  .header {
    .toolbar {
      .toolbar-background {
        background: none;
      }
    }
  }
}

 /* design of message bubble */
/*  .msg-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    ion-avatar {
      position: absolute;
      top: auto;
      bottom: 0;
      float: left;
      display: inline-block;
      margin: 0 0 15px;
    }
    &.you {
      ion-avatar {
        left: 0;
      }
      .bubble {
        display: inline-block;
        @include calc(width, '100% - 110px');
        min-height: 55px;
        margin: 0 55px;
        padding: 7px 10px 5px;
        @include css3-prefix(border-radius, 15px);
        @extend .bg-grey;
        &:after {
          left: 0;
          margin-left: -64px;
          margin-bottom: -7px;
          background-image: url('../assets/imgs/msg-curve-grey.png');
        }
        .displayname {
          margin-bottom: 5px;
          color: $mebubble-color;
        }
        .msg {
          margin-bottom: 5px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          border-left: 3px solid #EDEDED;
          border-bottom: 3px solid #EDEDED;
        }
        .img-number {
          position: absolute !important;
          top: 29.8%;
          left: 50.6%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          &.overlay {
            position: fixed;
            height: 96px;
            width: 98px;
            background-color: rgba(0, 0, 0, .5);
          }
        }
      }
      .msg-time { color: $grey-primary;}
    }
    &.me {
      ion-avatar {
        right: 0;
        float: right;
      }
      .bubble {
        @extend .bg-primary;
        &::after {
          right: 0;
          margin-right: -64px;
          background-image: url('../assets/imgs/msg-curve.png');
        }
        .displayname {
          margin-bottom: 5px;
          color: $yoububble-color;
        }
        .msg {
          margin-bottom: 5px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          border-left: 3px solid #359FC0;
          border-bottom: 3px solid #359FC0;
        }
        .img-number {
          position: absolute !important;
          top: 29.8%;
          left: 50.6%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          &.overlay {
            position: fixed;
            height: 96px;
            width: 98px;
            background-color: rgba(0, 0, 0, .5);
          }
        }
      }
    }
  }*/
 /* End */

 /* design of multiple images club */
/*  .msg-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    ion-avatar {
      position: absolute;
      top: auto;
      bottom: 0;
      float: left;
      display: inline-block;
      margin: 0 0 15px;
    }
    &.you {
      ion-avatar {
        left: 0;
      }
      .bubble-img {
        display: inline-block;
        @include calc(width, '100% - 160px');
        min-height: 55px;
        margin: 0 55px;
        padding: 7px 10px 5px;
        @include css3-prefix(border-radius, 15px);
        @extend .bg-grey;
        &:after {
          left: 0;
          margin-left: -64px;
          margin-bottom: -7px;
          background-image: url('../assets/imgs/msg-curve-grey.png');
        }
        .displayname {
          margin-bottom: 5px;
          color: $mebubble-color;
        }
        .msg {
          margin-bottom: 5px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          border-left: 3px solid #EDEDED;
          border-bottom: 3px solid #EDEDED;
        }
        .img-number {
          position: absolute !important;
          top: 29.8%;
          left: 50.6%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          &.overlay {
            position: fixed;
            height: 96px;
            width: 98px;
            background-color: rgba(0, 0, 0, .5);
          }
        }
      }
      .msg-time { color: $grey-primary;}
    }
    &.me {
      ion-avatar {
        right: 0;
        float: right;
      }
      .bubble-img {
        @extend .bg-primary;
        &::after {
          right: 0;
          margin-right: -64px;
          background-image: url('../assets/imgs/msg-curve.png');
        }
        .displayname {
          margin-bottom: 5px;
          color: $yoububble-color;
        }
        .msg {
          margin-bottom: 5px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          border-left: 3px solid #359FC0;
          border-bottom: 3px solid #359FC0;
        }
        .img-number {
          position: absolute !important;
          top: 29.8%;
          left: 50.6%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          &.overlay {
            position: fixed;
            height: 96px;
            width: 98px;
            background-color: rgba(0, 0, 0, .5);
          }
        }
      }
    }
  }
*/ /* End */



/* attachment icon */
ion-buttons {
  .ion-image {
    font-size: 26px;
  }
}
/* End */

/* back-arrow design */
.left-arrow {
  float: left !important;
  height: 30px !important;
}
/* End */

/* checkmark icon design */
ion-icon {
  &.checkmark-icon {
    &.icon-align {
      margin-left: -14px !important;
    }
  }
}
/* End */

/* header-design for ios */
.toolbar-content-ios {
  .header-wrap { 
  }
}
/* End */
