<ion-header  >
  <ion-navbar hideBackButton >
    <div class="header-wrap">
        <div class="flex-start">
          <ion-buttons left>
              <button ion-button (click)="goBack()">
                   <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
              </button>
          </ion-buttons>
          <div class="header-title">Pick Your Contact</div>
        </div>
        <div class="flex-end">
          <ion-buttons end>
              <button ion-button icon-only (click)="refreshPage()">
                <ion-icon class="rightsidebtncss"  name="refresh-circle"></ion-icon>
              </button>
          </ion-buttons>
        </div>
    </div>
  </ion-navbar>
  <ion-searchbar placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
  <p style="color:#000;margin-left:10px;">Pick a referral to send back to  {{friend_asking_referral_displayName}}</p>
</ion-header>
<ion-content>

  <ion-list [virtualScroll]="mainArray"  class="contactslistion" >
    <ion-item *virtualItem="let item" class="itemside"  >
      <ion-avatar item-start >
        <img *ngIf="item.isBlock == false" src="{{item.photoURL || userpic}}">
        <img *ngIf="item.isBlock == true" src="{{'assets/imgs/user.png' || userpic }}">
      </ion-avatar>
      <ion-note class="itemnote"  item-start>
        <h2 class="displaynamecss" *ngIf="item.displayName">{{item.displayName}} </h2>
        <p *ngIf="item.mobile_formatted"  [innerHTML]="item.mobile_formatted" ></p>
      </ion-note>

      <button item-end  (click)="pickContactExecute(item,true)" *ngIf="item.uid">
        <ion-icon class="mainiconcontact" name="checkmark-circle"></ion-icon>
      </button>
      <button item-end   (click)="pickContactExecute(item,false)" *ngIf="!item.uid && !item.isdisable">
        <ion-icon class="mainiconcontact"  name="add-circle"></ion-icon>
      </button>
      <button item-end   (click)="pickContactExecute(item,false)" *ngIf="!item.uid && item.isdisable">
        <ion-icon class="mainiconcontact"   name="time"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

 <div *ngIf="isData" padding-horizontal>
        No contacts found!
 </div>
</ion-content>
