page-pick-contact-from {
  .searchbar {
    @extend .searchbar;
  }
  .searchbar {
      background-color: #f1eefc !important;
      border-bottom: 1px solid #e2dbf9;
      padding-bottom: 12px;
  }
  button {
    background-color: #fff;
  }  
  .header-wrap {
    width: 100%;
    /*padding: 10px 0 0;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flex-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
        height: 30px;
        margin-right: 10px;
        order:1;
      }
      .header-title {
        order: 2;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .flex-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      order:3;
    }
}
  .card {
    .input-wrapper {
      .label {
        margin: 0;
      }
    }
  }
  .contactslistion .item-block {
    padding: 0px 0px 0px 10px;
  }
  .contactslistion .item-block .label-md {
    margin: 0px 8px 0px 0;
  }
  .contact-list {
    ion-avatar {
      display: inline-block;
      width: 40px;
    }
    .item-info  {
      display: inline-block;
      /*@include calc('width', '100% - 65px');*/

      border:1px solid red;
      margin: 10px 4px !important;
      vertical-align: top;

    }
  }
  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#000;
  }
  .mainiconcontact {
    font-size: 38px;
  }
  .item-md ion-avatar[item-start],
  .item-ios ion-avatar[item-start] {
    margin: 0px 5px;
    max-width: 60%;
  }
  .displaynamecss {
    margin-top:5px;
  }
  .contactslistion .itemnote {
    max-width: 60%;
  }
  .list-md .item-block .item-inner,
  .list-ios .item-block .item-inner {
      border-bottom: 0px solid #fff;
  }
}
