page-notification {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .left-arrow {
      order:1;
      margin-right: 10px;
    }
    .header-title {
      order:2;
      font-size: 20px;
    }
  }

  .scroll-content {
    padding: 0 !important;
  }

  ion-item {
    &.item {
      padding-left: 0 !important;
    }
    .item-inner {
      padding-right: 0 !important;
      border-bottom: 0 !important;
    }
  }

  ion-label {
    padding: 5px 0;
    margin-bottom: 5px !important;
    .align-notification{
      display: flex;
      flex-direction: row;
      align-items: center;
      .notifiy-wrap {
        h6 {
          white-space: normal;
          margin-bottom: 5px;
        }
      }
    }
  }

  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none !important;
  }

  ion-list{
    padding: 16px !important;
    ion-item {
      ion-avatar {
        margin-top: 0 !important;
      }
      ion-label {
        display: flex;
        align-items: center;
        margin-right: 0 !important;
        .info-wrap {
          float: left;
          width: calc(100% - 140px);
          display: inline-block;
          h2 {
            width: calc(100% - 56px);
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 16px;
          }
        }
      }
      button {
        &.item-button {
          float: right;
          padding: 14px 8px !important;
          margin: 0px 5px 6px 5px !important;
          border-radius: 50% !important;
          background-color: transparent !important;
          color: #000 !important;
          border: 1px solid $grey-border !important;
          font-size: 15px !important;
        }
      }
    }
  }

}
