<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Broadcast Successful
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>Your Broadcast Has Been Successfully Delivered</h3>
      <p>You have unlimited broadcast in your business package however it is advisable to send it with care to avoid spamming the network
      </p>
<br />
        <button ion-button  (click)="gotBackToBroadcastPage()" color="primary" block>Perform Another Broadcast</button>
  </div>
</ion-content>
