
<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Pick Your Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card-content *ngIf="thisIsMe"  class="herocard" text-center>
      <ion-card-title>
        Refer To {{buddy_displayName}}
        </ion-card-title>
      <p>
        People you invite will use this button to send referral directly back to you 
      </p>
      <button  disabled  ion-button color="primary" block>Send Referral</button>
    </ion-card-content>

    <ion-card-content *ngIf="!thisIsMe"  class="herocard" text-center>
      <ion-card-title>
        Refer Your Contact To {{buddy_displayName}}
        </ion-card-title>
      <p>
        This will help your contact connect with {{buddy_displayName}}
      </p>
      <button (click)="pickContact()" ion-button color="primary" block>Pick Contact</button>
    </ion-card-content>

</ion-content>
