<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Select contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey" padding>
    <ion-list *ngIf="unblockUsers">
        <ng-container *ngFor="let item of unblockUsers">
          <ion-item (click)="addblockuser(item)">
            <ion-avatar item-start class="avtar-class"><img src="{{item.photoURL || 'assets/imgs/user.png'}}"></ion-avatar>
            <h2>{{item.displayName}}</h2>
          </ion-item>
        </ng-container>
    </ion-list>
  <!-- <ion-list *ngIf="unblockUsers">
    <ion-item-group>
        <div *ngFor="let item of unblockUsers" >
          <ion-item no-lines (click)="addblockuser(item)">
              <ion-avatar item-start class="avtar-class">
                <img src="{{item.photoURL || 'assets/imgs/user.png'}}">
              </ion-avatar>
              <div class="border-bottom">
                  <h2 class="name-class">{{item.displayName}}</h2>
              </div>
          </ion-item>
        </div>
    </ion-item-group>
  </ion-list> -->

  <span *ngIf="haveData">
    <div padding text-center  *ngIf="unblockUsers.length == 0">
    No record found!
    </div>
  </span>

</ion-content>
