page-referral {
 .itemlistref {
   border-top: 1px solid #e2dbf9 !important;
 }
 .searchbar {
     background-color: #f1eefc !important;
     border-bottom: 1px solid #e2dbf9;
     padding-bottom: 10px;
 }
}
