<ion-tabs tabsPlacement="bottom">
  <!--<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>-->
  <ion-tab [root]="tab2Root" tabTitle="Contacts" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Referrals" tabIcon="information-circle"></ion-tab> 
</ion-tabs>
