page-phone {
  .topmargin_phone {
    margin-top : 100px;
  }
  .maincard_bubble  {
    margin-bottom: 30px;
  }
  ion-select{
    width: 100%;
    max-width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
  }
  input.text-input {
    height: 50px; 
  }
  .textarea-lbl {
    ion-label.label {
      height: 40px;
      white-space: normal;
      overflow-y: auto;
      @extend input.text-input;
      margin: 0;
    }
  }
  .welcome-text {
    max-width: 500px;
    @include push--auto;
  }
  .logo-img {
    padding: 100px 0 50px;
    img {
      height: 150px;
      width: 150px;
    }
  }
  h1 {
    font-size: $font-size-60;
  }
  p {
    font-size: $font-size-24;
  }
  ion-card.card {
    ion-card-content.card-content {
      .country-select {
        padding: 0 10px;
        color:black;
        height:40px;
        background-color: $white;
        @include border-radius(6px);
        ion-select {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
