<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Request Submitted
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>Your Request Has Been Submitted</h3>
      <p> It may take few minutes to hours before your contacts in network referyou.
      </p>
<br />
        <p>Need someone right now ? </p>
        <button ion-button color="primary" block>Browse nearby busineeses</button>
  </div>
</ion-content>
