page-registerbusiness {
  ion-select#bcats,
  ion-select#rtlist
  {
    width: 100%;
    max-width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
  }
  p.infotext {
    color:#aaa;
  }
  .maincard_bubble {
    margin: 15px auto 25px auto;
  }
  .btnskipstep {
    margin-top:15px;
    margin: 0 auto;
  }
  .topicon {
    font-size: 80px;
    margin: 0 auto;
  }
  .input .text-input {
    padding: 0px 10px 0px 15px;
    margin: 0px;
  }
  ion-card.card {
    padding-bottom:20px;
  }
  #selectionitem, #referralincentive {
    padding: 0px;
    margin: 0px;
  }

  .btngrouptop {
    margin-top:30px;
  }
}
