page-setting {
	.header-wrap {
		/*padding: 10px 0 0;*/
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: center;
		.left-arrow {
			height: 30px;
			margin-right: 10px;
			order:1;
		}
		.header-title {
			order: 2;
			font-size: 20px;
			font-weight: 500;
		}
	}
	.border-bottom {
		border-bottom: 0.55px solid #B1B0B0 !important;
		ion-item {
			&.item {
				padding-left: 0 !important;
			}
			.item-inner {
				padding-right: 0 !important;
			}
		}
		.label {
			h2 {
				font-size: 20px !important;
			}
		}
	}
	.list {
		.item {
			&:first-child {
				border-top: 0 !important;
			}
		}
	} 

	ion-item {
		ion-avatar {
			text-align: center;
			img {
				height: 60px !important;
				width: 60px !important;
			}
			ion-icon {
				font-size: 36px;
				line-height: 36px;
			}
		}
	}
}
