
<ion-header>
  <ion-navbar>
    <div class="header-wrap">
      <!--
     <ion-buttons class="left-arrow" left>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>
      </ion-buttons>
    -->
      <div class="header-title">Settings</div>
   </div>
  </ion-navbar>
</ion-header>


<ion-content  class="bg-grey" padding>
  <ion-list>
      <div class="border-bottom" (click)="openProfilePage()">
          <ion-item no-lines>
              <ion-avatar item-start >
                <img src="{{ profileData.imgurl ||assets/imgs/user.png}}">
              </ion-avatar>
              <h2>{{profileData.username}}</h2>
              <p>{{profileData.disc}}</p>
          </ion-item>
      </div>

      <ion-item (click)="goBlockuser()">
        <ion-avatar item-start >
          <ion-icon name="people"></ion-icon>
        </ion-avatar>
        <h2>Blocked Contacts<span *ngIf="blockcounter > 0">:{{blockcounter}}</span></h2>
      </ion-item>

      <!-- <ion-item>
        <ion-avatar item-start >
          <ion-icon name="notifications"></ion-icon>
        </ion-avatar>
        <ion-label>Notification</ion-label>
        <ion-toggle [(ngModel)]="isNotify" (ionChange)="notify()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-avatar item-start >
          <ion-icon name="help"></ion-icon>
        </ion-avatar>
        <h2>Help</h2>
      </ion-item>

      <ion-item (click)="inviteFriends()">
        <ion-avatar item-start >
          <ion-icon name="add"></ion-icon>
        </ion-avatar>
        <h2>Invite Friend</h2>
      </ion-item> -->

  </ion-list>
</ion-content>
