<ion-header>
  <ion-navbar color="dark">
    <div class="header-wrap">
          <ion-buttons class="close-left" left>
            <button ion-button icon-only (click)="closeContact()"><ion-icon ios="md-close" md="md-close" ></ion-icon></button>
          </ion-buttons>
          <div class="header-title">Add Contact</div>
          <ion-buttons class="right-arrow" right>
              <button ion-button icon-only [disabled]="!authForm.valid || !this.msgstatus" (click)="saveContact(contactObject)"><ion-icon ios="md-checkmark" md="md-checkmark"></ion-icon></button>
          </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>

<ion-content  class="bg-grey">
  <ion-card>
    <ion-card-content>
      <form  [formGroup]="authForm">
      <ion-list>
          <ion-item class="txt-input">
              <ion-input type="text" (input)="onChange($event.keyCode)"[(ngModel)]="contactObject.displayName"  [formControl]="displayNam"  id="displayNam" placeholder="Enter Display Name"  ></ion-input>
          </ion-item>
          <div *ngIf="(!authForm.controls.displayNam.valid||!msgstatus)  && (authForm.controls.displayNam.dirty || submitAttempt)" class="validation-msg">
            <p> Display name is Required.</p>
          </div>

          <ion-item class="txt-input">
              <ion-input type="text" placeholder="Enter Nick Name" [(ngModel)]="contactObject.nickName" [formControl]="nickName"  id="nickName" ></ion-input>
          </ion-item>
          
          <ion-item class="txt-input">
            <ion-input type="tel" [(ngModel)]="contactObject.phoneNumber" [formControl]="phoneNumbe" id="phoneNumbe" placeholder="Enter Phone Number"  ></ion-input>
          </ion-item>
          <div *ngIf="!authForm.controls.phoneNumbe.valid && (authForm.controls.phoneNumbe.dirty || submitAttempt)" class="validation-msg">
            <p> Phone number is Required.</p>
          </div>
          <button ion-button  class="button-secondary" [disabled]="!authForm.valid || !this.msgstatus" (click)="saveContact(contactObject)">Submit</button>
          <button ion-button  class="button-secondary" (click)="closeContact()">Close</button>
      </ion-list>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
