
<ion-content class="tutorial-page">

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button  (click)="gotoStartPage()" ion-button color="primary">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img   [src]="slide.image" class="slide-image  "/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/imgs_vectors/two-people.png" class="slide-image"/>
      <p>Simply a peer-to-peer modern way to send and receive referrals</p>
      <button (click)="gotoStartPage()" ion-button      icon-end color="primary">
        Let`s Get Started
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
