
<ion-header>
  <ion-navbar >
      <div class="header-wrap">
          <!-- <ion-buttons class="left-arrow" left>
              <button ion-button icon-only (click)="goBack()">
                <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
              </button>
          </ion-buttons> -->
          <div class="header-title" text-left>All Contacts</div> 
      </div>
  </ion-navbar>
  <ion-searchbar placeholder="Search" class="searchbar" (ionInput)="searchuser($event)"></ion-searchbar>
  <ng-container *ngIf="selectedMember.length > 0">
  <ion-list  class="group-wrap">
    <ion-item *ngFor="let item of selectedMember">
      <ion-avatar item-left><img src="assets/imgs/user.png"></ion-avatar>
      <p>{{item.displayName}}</p>
    </ion-item>
  </ion-list>
</ng-container>
</ion-header>


<ion-content padding [ngClass]="selectedMember.length > 0?'group-wrap-active':'group-wrap-no-active'">
 
   <ion-list *ngIf="myFriends.length>0">
    <ng-container *ngFor="let key of myFriends">
      <ion-item (click)="addContact(key)">
        <ion-avatar item-left><img src="assets/imgs/user.png"></ion-avatar> 
        <h2>{{key.displayName}}</h2>
      </ion-item>  
    </ng-container>
  </ion-list> 

  
  <ion-fab bottom right>
    <button ion-fab [disabled]="selectedMember.length == 0" (click)="goNext()"><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
  </ion-fab>

  <div *ngIf="myFriends.length==0" padding text-center>No contacts found!</div>

</ion-content>