.hide {
  display:none;
}
.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

/*
ion-footer {
  background-color: map-get($colors, primary);
  color: #fff;
}
.text_color_primary {
  color: map-get($colors, primary);
}
.text_color_sec {
  color: map-get($colors, secondary);
}
.toolbar-content > .title {
  background-color: map-get($colors, primary);
}
.toolbar-title {
  color:#fff;
}
ion-header > ion-navbar .bar-button-default-ios,
ion-header > ion-navbar .bar-button-default.bar-button-ios-default,
ion-header > ion-navbar .bar-button-clear-ios-default {
    color:#fff;
}
button.btn {
    background-color:map-get($colors, primary);
}

ion-header,
ion-header > ion-navbar,
ion-header > ion-navbar .toolbar-background
{
      background-color: map-get($colors, primary);
}
.toolbar-background
{
      background-color: map-get($colors, primary);
}
*/
.strongwords {
  font-weight: normal;
}
.givepadding{
  padding: 50px 10px;
}
.hideme {
  display:none;
}
.myCustomSelect{
  width: 100%;
max-width: 100% !important;
}


.brandion img {
    height: 35px;
    margin-top: 5px;
}
.brand-wording {
    top: -11px;
    position:relative;
    color:#fff;
}

.pull-center {
   text-align: center;
}
.helpicon {
   margin-left:5px;
}

.top-margin-large {
    margin-top: 170px;
}

/**/
.flex-end-notif {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  order:3;
  ion-icon {
    &.notification {
      font-size: 28px !important;
    }
  }
  ion-badge {
    &.notification {
      margin-left: -13px;
      margin-top: -13px;
      font-size: 11px;
      padding: 4px;
    }
  }
}
