<ion-item (click)="userProfileBlock()" *ngIf="!buddyStatus" no-line>
	<ion-label no-line >Block</ion-label>
</ion-item>
<ion-item (click)="userProfileunBlock()" *ngIf="buddyStatus" no-line>
	<ion-label no-line >Unblock</ion-label>
</ion-item>
<!-- mytodo : following functionality is not working. so disabling -->
<ion-item class="hide" (click)="searchMessage($event)" no-line>
	<ion-label no-line >Search</ion-label>
</ion-item>
