<ion-header  >
  <ion-navbar color="primary" >
    <ion-title>
      View Referral
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-item padding class="highcard profilecard pull-center" no-lines>
       <h1> <br /><span class="text_color_primary strongwords">Garry Singh</span></h1>
       <h3>ABC Hi-Solutions Ltd</h3>
       <h3>(647) 123-3123</h3>
       <h3>123 Octillo Blvd, Brampton, ON, Canada</h3>
       <h3><p>Referred By Arando Qualiejo Djsuodis  <ion-icon color="strong" name="contact"></ion-icon>  <span class="hideme" style="color:#32db64"><ion-icon name="star-half"></ion-icon> 4.1 (24)</span></p></h3>

   </ion-item>

   <ion-list class="pull-center" no-lines>

          <button ion-button color="primary"  > <ion-icon style="margin-right:5px;" item-start name="megaphone"></ion-icon> Request Service</button>
            <br />
          <button ion-button color="secondary"  >
              <ion-icon style="margin-right:5px;" item-start name="logo-usd"></ion-icon>
              Submit Receipt
              </button>
              <br /><small>Submit Receipt To Claim Points</small>

          <br />

   </ion-list>



</ion-content>

<ion-footer >
  <ion-toolbar class="pull-center">
    <button ion-button color="primary" clear >Go Back</button>

  </ion-toolbar>
</ion-footer>
