<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Referral</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Notif</ion-label>
    </ion-tab-button>


   <ion-tab-button tab="tab3">
          <ion-icon name="send"></ion-icon>
          <ion-label>Broadcast</ion-label>
       </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
