page-referral-infopage {
  .content-title {
    font-size: 18px;
  }
  ion-card.card {
    padding-bottom:20px;
  }
  ion-label {
    margin: 0 !important;
    .errormsg {
      margin-top: 0 !important;
      color: #000;
      font-size: 15px;
    }
  }
}
