<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Exchange Referral</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendToBroadcastPage()">
        <ion-icon name="megaphone"   class="megaphone"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sendToEarningsPage()">
        <ion-icon  name="checkmark-circle" class="notification"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card  class="maincard_bubble" text-center padding *ngIf="!ever_referral_sent">
    <ion-card-content >
      <ion-card-title>
        Exchange Referrals
        </ion-card-title>
      <p>
        Send or receive referrals with your friends and earn loyalty from your favorite businesses
      </p>
      <button style="margin-top:15px;"  (click)="sendreferraldirectly()" ion-button color="primary" block>Get Started Now</button>
      <p *ngIf="!iamABusinessOwner" style="margin-top:15px;border-bottom:1px solid #bbb;"   (click)="sendToRegisterBuesiness()" color="primary"  >Business Owner? Grow Sales & Revenue</p>
    </ion-card-content>
 </ion-card>



</ion-content>
