<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div  class="main" *ngIf="groupImage">
    <div class="back">
    </div>
    <img src="{{groupImage}}" (click)="updategroupimage()">
    <div class="buddy">
      <div class="group-name" left>
        <h2 *ngIf="groupName">{{groupName}}</h2>
      </div>
      <div class="group-edit" right>
        <button ion-button icon-only round (click)="editgroupname()">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </button>
      </div>
    </div>
  </div>

  <ion-list *ngIf="allMembers.length>0">
    <ion-list-header>
      <div item-start>{{allMembers.length}} participants</div>
    </ion-list-header>
    <ng-container *ngFor="let item of allMembers">
      <ion-item *ngIf="item.admin" (press)="openpopoverforadmin(item)">
        <ion-avatar item-left>
            <img *ngIf="item.blockby == true" src="{{'assets/imgs/user.png' || userpic}}">
            <img *ngIf="item.blockby == false" src="{{item.photoURL || userpic}}">
        </ion-avatar>
        <h2>{{item.displayName}}</h2>
        <button ion-button round outline color="primary" item-right>Group Admin</button>
      </ion-item>
      <ion-item *ngIf="!item.admin" (press)="openpopover(item)">
        <ion-avatar item-left>
            <img *ngIf="item.blockby == true" src="{{'assets/imgs/user.png' || userpic}}">
            <img *ngIf="item.blockby == false" src="{{item.photoURL || userpic}}">
        </ion-avatar>
        <h2>{{item.displayName}}</h2>
        <p>Member</p>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-list *ngIf="!owner">
    <ion-item (click)="leaveGroup()">
      <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>
      Leave Group
    </ion-item>
  </ion-list>
  <ion-list *ngIf="owner">
    <ion-item (click)="deleteGroup()">
      <ion-icon ios="ios-trash" md="md-trash" item-left></ion-icon>
      Delete Group
    </ion-item>
  </ion-list>
  <ion-fab bottom right *ngIf="owner">
    <button ion-fab color="hcolor" (click)="addMemner()">
      <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content> 