
<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>



<!--
<ion-header>
  <ion-navbar color="darkblue" >
    <div class="header-wrap">
      <!-- <ion-buttons left class="left-arrow">
        <button ion-button icon-only (click)="goBack()">
          <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>
      </ion-buttons> -->
      <!--
      <div class="header-title">Notifications</div>
    </div>
  </ion-navbar>
</ion-header>
-->

 <ion-content padding>
  <ion-refresher (ionRefresh)="refreshPage($event)">
   <ion-refresher-content
     pullingIcon="arrow-dropdown"
     pullingText="Pull to refresh"
     refreshingSpinner="circles"
     refreshingText="Refreshing...">
   </ion-refresher-content>
 </ion-refresher>

     <ion-list *ngIf="notificationList">
       <!-- <ion-item-sliding #slidingItem no-padding class="border-bottom" *ngFor="let item of notificationList"> -->
         <ion-item *ngFor="let item of notificationList"     class="mynotiflist">
             <ion-avatar item-start>
             <img src="{{item.photoURL}}">
            </ion-avatar>
               <div class="info-wrap">
                 <h2 >{{item.displayName}}</h2>
                 <p>{{item.disc}}</p>
               </div>
               <button ion-button (click)="accept(item,slidingItem)" [disabled]="acceptStatus"><ion-icon name="checkmark"></ion-icon></button>
               <button ion-button (click)="ignore(item,slidingItem)" [disabled]="acceptStatus"><ion-icon name="trash"></ion-icon></button>
               <button ion-button (click)="blockUser(item,slidingItem)"[disabled]="acceptStatus"><ion-icon name="contact"></ion-icon></button>
         </ion-item>
         <ng-container *ngFor="let key of messageList">
           <ion-item *ngIf="key.msg"  >
           <div class="align-notification">
             <ion-avatar item-start>
               <img src="{{key.senderPic}}">
             </ion-avatar>
             <div class="notifiy-wrap">
                 <h6>{{key.msg}}</h6>
                 <p>{{key.reqtime}}</p>
             </div>

           </div>
           </ion-item>

         </ng-container>
         <!-- <ion-item-options side="left">
           <button ion-button (click)="accept(item,slidingItem)" color="secondary"><ion-icon name="checkmark"></ion-icon></button>
         </ion-item-options>
         <ion-item-options side="right">
           <button ion-button color="danger" (click)="ignore(item,slidingItem)"><ion-icon name="trash"></ion-icon></button>
           <button class="btn-block-user" ion-button (click)="blockUser(item,slidingItem)"><ion-icon name="contact"></ion-icon>Block</button>
         </ion-item-options>
       </ion-item-sliding> -->
     </ion-list>

     <div *ngIf="isData" text-center>
         No notification found!
     </div>

 </ion-content>
