<ion-content padding>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      Expand your network in meaningful way
      </ion-card-title>
    
    <button  ion-button  (click)="addbuddy()">
      <ion-icon ios="md-person-add" md="md-person-add"> </ion-icon> Import Contacts
    </button>

  </ion-card-content>
</ion-card>




</ion-content>

