/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header design.
 *
 */

/* Navbar */
.header {
  @extend .text-white;
  &::after {
    display: none;
  }
  .toolbar-title {
    @extend .text-white;
  }
  ion-title.title {
    text-align: left;
  }
  .toolbar-md-dark,
  .toolbar {
    padding: 16px;
    .toolbar-background,
    .toolbar-background-md {
       background-color: #7e57c2;
    }
    /*
    .toolbar-background-md {
      @include background-horizontal(#0C9396, #2C9CB7, #4FA6DA);
    }
    */
    .icon {
      font-size: 20px;
    }
  }
  .button-inner {
    @extend .text-white; ;
  }
  .bar-button-ios[icon-only]{
    padding: 5px !important;
  }
}
