<ion-header  >
  <ion-navbar  hideBackButton>
    <ion-title>Importing Contacts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-card  class="maincard_bubble " text-center padding  >
    <ion-card-content >
      <ion-card-title>
        Checking Your Contacts
        </ion-card-title>
      <p>
        Importing {{contactProvider.contactInsertCounter}} of {{contactProvider.contactTotalCounter}}
      </p>
    </ion-card-content>
 </ion-card>

</ion-content>
