<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Referral Send
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>Referral Sent</h3>
      <p> You have sucessfully refered <strong>Mary</strong> to <strong>John</strong>. <br>Both have been notified !
      </p>
<br />
      <button ion-button color="primary" block>Explore More Referrals</button>
  </div>



</ion-content>
