<ion-header>

  <ion-navbar>
    <ion-title>status</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2 class="slide-title" [innerHTML]="slide_title"></h2>
  <p [innerHTML]="slide_description"></p>

  {{ in_reason }}

</ion-content>
