<ion-header>

  <ion-navbar >
    <div class="header-wrap">
        <!-- <ion-buttons class="left-arrow" left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons> -->
        <div class="header-title">Select contact</div>
    </div>
     <!-- <div class="title-uname">
       <small *ngIf="totusers > 0">{{totusers}} contacts</small>
     </div> -->
   <!-- <ion-buttons right><button ion-button icon-only ><ion-icon ios="md-search" md="md-search"></ion-icon></button></ion-buttons> -->
  </ion-navbar>

</ion-header>
<ion-content class="bg-grey" padding>
    <ion-list *ngIf="unblockUsers">
        <ng-container *ngFor="let item of unblockUsers">
          <ion-item (click)="addblockuser(item)">
            <ion-avatar item-start class="avtar-class"><img src="{{item.photoURL || 'assets/imgs/user.png'}}"></ion-avatar>
            <h2>{{item.displayName}}</h2>
          </ion-item>
        </ng-container>
    </ion-list>
  <!-- <ion-list *ngIf="unblockUsers">
    <ion-item-group>
        <div *ngFor="let item of unblockUsers" >
          <ion-item no-lines (click)="addblockuser(item)">
              <ion-avatar item-start class="avtar-class">
                <img src="{{item.photoURL || 'assets/imgs/user.png'}}">
              </ion-avatar>
              <div class="border-bottom">
                  <h2 class="name-class">{{item.displayName}}</h2>
              </div>
          </ion-item> 
        </div>
    </ion-item-group>
  </ion-list> -->

  <span *ngIf="haveData">
    <div padding text-center  *ngIf="unblockUsers.length == 0">
    No record found!
    </div>
  </span>
  
</ion-content>
