page-friend-list {
  .header-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      .left-arrow {
        order:1;
        margin-right: 10px;
      }
      .header-title {
        order: 2;
        font-size: 20px;
        font-weight: 500;
      } 
  }
  ion-item {
    &.item {
      padding-left: 0 !important;
    }
    .item-inner {
      padding-right: 0 !important;
    }
  }
  .list {
    .item {
      &:first-child {
        border-top: 0 !important;
      }
      &:last-child {
        border-bottom: 0 !important;
      }
    }
  } 
}