<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Submit Receipt
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-item padding class="highcard profilecard pull-center "  no-lines>
      <h2  >Service Provider </h2>
       <h1> <span class="text_color_primary strongwords">Garry Singh</span></h1>
       <h3>ABC Hi-Solutions Ltd</h3>
       <h3>(647) 123-3123</h3>
       <h3>123 Octillo Blvd, Brampton, ON, Canada</h3>
       <h3><p>Referred By Arando Qualiejo Djsuodis  <ion-icon color="strong" name="contact"></ion-icon>  <span class="hideme" style="color:#32db64"><ion-icon name="star-half"></ion-icon> 4.1 (24)</span></p></h3>

   </ion-item>

   <ion-list class="pull-center" no-lines>

      <p></p>
       <ion-list  >
         <ion-item style="border-color:#ccc;text-align: center;border-width:0px 0px 0px 0px;border-style:solid;">
          <ion-label color="secondary"  >Points <strong>150</strong></ion-label>
        </ion-item>
         <ion-item style="border:1px solid #ccc;">
          <ion-label color="primary" style="text-align:left"  >Total Amount You Paid (including Taxes)</ion-label> 
        </ion-item>
        <ion-item style="border-color:#ccc;text-align: center;padding:50px;border-width:0px 1px 1px 1px;border-style:solid;">

            <div   class="card-title text_color_primary">  <ion-icon name="camera"></ion-icon> </div>
            <div  class="card-subtitle text_color_primary">Tap To Take Picture Of Receipt</div>

       </ion-item>
       </ion-list>

          <button ion-button color="secondary"  >
              <ion-icon style="margin-right:5px;" item-start name="logo-usd"></ion-icon>
              Submit Receipt
              </button>
              <br /><small>You will get points right away Gary Singh approves </small>

          <br />

   </ion-list>



</ion-content>

<ion-footer >
  <ion-toolbar class="pull-center">
    <button ion-button color="primary" clear >Go Back</button>

  </ion-toolbar>
</ion-footer>
