page-submit-receipt {
  ion-card {
      position: relative;
      text-align: center;
      border-width:0px;
    }

    .card-title {
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
    }

    .card-subtitle {
      font-size: 1.0em;
      top: 52%;
      width: 100%;
    }
}
