/**
 * @file
 * SCSS file for Mixins.
 *
 * - Fonts file
 */

 /* Fonts Variable */
 $montserratregular: 'Montserrat Regular';

 /* URLs */
 $url-montserrat-regular: url('../assets/fonts/Montserrat-Regular.woff'), url('../assets/fonts/Montserrat-Regular.otf') ;



 @font-face {
   font-family: $montserratregular;
   src: $url-montserrat-regular;
 }
