<ion-header>
  <ion-navbar >
    <ion-title>
      Exchange Referral
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <div class="flex-end-notif">
      <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="notifications" class="notification"></ion-icon>
            <ion-badge class="notification" color="danger" *ngIf="requestcounter != null">{{requestcounter}}</ion-badge>
          </button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div *ngIf="!ever_referral_sent">
        <div class="pull-center" style="margin:20px 0px;">
          <h4 class="" >Exchange Referrals with your friends and earn loyality</h4>
          <button (click)="sendreferraldirectly()" ion-button color="primary" block>Get Started Now</button>
          <button *ngIf="iamABusinessOwner" clear (click)="sendToRegisterBuesiness()" ion-button color="primary" block>Business Owner? Automate your referrals</button>
        </div>
</div>

</ion-content>
