page-consumerinfo {
  .maincard_bubble {
    margin-top:16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .mycard_1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  .mycard_2 {
    margin-top:0px;
    padding-top:0px;
    text-align: center;
  }
}
