<ion-content   class=" bg-grey ">

  <ion-card text-center class="topmargin_phone" >
    <ion-card-content>
      <ion-card-title>
        Confirm The Code
        </ion-card-title>
      <p>
        Enter the code from the message we sent to you
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content> 
      <div *ngIf="InvalidNumErr" class="validation-msg">
            <p> {{InvalidNumErr}}</p>
      </div>
      <div *ngIf="message != '' ">{{message}}</div>
      <ion-list>
          <ion-item>
            <ion-input type="number" minlength="4" maxlength="6" [formControl]="otpTemp" id="otpTemp" [(ngModel)]="otpNumber" name="otpTemp" placeholder="Enter OTP"></ion-input>
          </ion-item>
            <ion-item>
              <button ion-button class="button-secondary" color="dark" item-right [disabled]="!authForm.valid" (click)="verify(otpNumber)">Submit</button>
            </ion-item>
            <ion-item>
              <button ion-button class="button-primary" color="dark" item-right  [disabled]="hidevalue==false" (click)="resend()">Resend</button>
            </ion-item>
            <p *ngIf="hidevalue==false"> Didn't received yet? Click on resend button after {{maxTime}} seconds.</p>
            <ion-item>
            <div id="re-container"></div>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
