page-view-buddy {
	.header {
		.toolbar {
		  .toolbar-background {
			background: transparent !important;
		  }
		}
	}
	.content {
		.scroll-content {
			margin-top: -5px !important;
		}
	}
	.main {
		position: relative;
		width: 100%;
		height: 350px;
		overflow: hidden;
		img {
			width: 100%;
			height:350px;
			-webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
		}	
		.buddy {
			height: 50px;
			width: 100%;
			position: absolute;
			top: auto;
			bottom: 0;
			background-color:rgba(3, 0, 0, 0.4);
			h3 {
				color: white;
				width: 100%; 
				height: 50px; 
				padding-left:10px;
				float: left;
				margin: 10px 0 10px 10px !important;
			}
		}
	}
	.back {
		float: left;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		background-color: rgba(3, 0, 0, 0.4);
		width: 100%;
		height: 65px;
	}

	.color-g{
		color: #999;
	}

	.color-b{
		color: #000;
	}

	.disc{
		color: black; font-size: 25;text-align: justify;
	}

	.seperater{
		border-bottom: 1px solid #999
	}

	/* design  For ios */
	.bar-buttons-ios {
		padding-top: 13px !important;
	}
	/* End */
}
