<ion-header>
  <ion-navbar color="darkblue" >
    <div class="header-wrap">
        <div class="flex-start">
          <!-- <ion-buttons class="left-arrow" left>
              <button ion-button icon-only (click)="goBack()">
                <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
              </button>
          </ion-buttons> -->
          <div class="header-title">Pick Referral</div>
        </div>
        <div class="flex-end">
          <ion-buttons end>
              <button ion-button icon-only (click)="refreshPage()">
                <ion-icon ios="md-refresh" md="md-refresh"></ion-icon>
              </button>
              <button ion-button icon-only (click)="addnewContact($event)">
                <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
              </button>
          </ion-buttons>
        </div>
    </div>
  </ion-navbar>
  <ion-searchbar placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
  <p style="color:#000;">Pick a referral to send back to  {{friend_asking_referral_displayName}}</p>
</ion-header>
<ion-content>
 <ion-list>
   <ion-item-group>
     <ion-item-divider></ion-item-divider>
        <div *ngFor="let item of mainArray"  >
          <div  class="border-bottom" *ngIf="userId != item.uid">
            <ion-item no-lines class="contact-list">
                <div (click)="buddychat(item)">
                  <ion-avatar item-start>
                  <!-- <ion-icon name="person"></ion-icon> -->
                    <img *ngIf="item.isBlock == false" src="{{item.photoURL || userpic}}">
                    <img *ngIf="item.isBlock == true" src="{{'assets/imgs/user.png' || userpic }}">
                  </ion-avatar>
                  <div class="item-info">
                    <h2 *ngIf="item.displayName">{{item.displayName}}</h2>
                    <p *ngIf="item.disc"  [innerHTML]="item.disc" ></p>
                    <!-- <ng-container *ngIf="item.isUser == '1'"> -->
                  </div>

                </div>

                <button item-end outline class="btn-plain" (click)="pickContactExecute(item,true)"
                *ngIf="item.status != null && item.status != 'pending' && item.isUser == '1' && item.isUser != '0' && !item.isdisable"
                >
                   <ion-icon end item-end name='arrow-dropright-circle'> </ion-icon>
                </button>

                <button item-end outline class="btn-plain" [disabled]="reqStatus" (click)="pickContactExecute(item,true)" *ngIf="item.status == null && item.isUser == '1'">
                  <ion-icon name="person-add"></ion-icon>Add
                </button>
                <button item-end outline class="btn-plain" (click)="pickContactExecute(item,true)" *ngIf="item.status == 'pending' && item.isUser == '1'">
                  <ion-icon name="time"></ion-icon>Pending
                </button>
                <!-- <button item-end outline class="btn-plain" (click)="buddychat(item)" *ngIf="(item.status != null && item.status != 'pending' && item.isUser == '1')">
                  Go to Chat
                </button> -->
                <!-- <button item-end outline class="btn-plain" *ngIf="item.status == 'friend' && item.isUser == '1'">
                  <ion-icon name="time"></ion-icon>Chat
                </button> -->
              <!-- </ng-container> -->



                <button item-end outline class="btn-plain" (click)="pickContactExecute(item,false)" *ngIf="item.isUser == '0' && !item.isdisable">
                  <ion-icon name="add"></ion-icon>Invite
                </button>

                <button item-end outline class="btn-plain" (click)="pickContactExecute(item,false)" *ngIf="item.isdisable">
                  <ion-icon name="add"></ion-icon>Invited
                </button>

            </ion-item>
        </div>
        </div>
   </ion-item-group>
 </ion-list>
 <div *ngIf="isData" padding-horizontal>
        No contacts found!
 </div>
</ion-content>
