<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Your Earnings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card  *ngIf="pageDoneLoading && !recordExist" class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
        You Do not have earnings yet
        </ion-card-title>
      <p>
        When you send referrals to business owners, you earn incentives from them. So let's first start inviting your contacts and let TapAlly make whole process easy, transparent and fair to everyone.
      </p>
      <button   style="margin-top:15px;" ion-button (click)="addbuddy()" color="secondary"  >Let`s Start Inviting</button>
    </ion-card-content>
 </ion-card>

 <ion-card  *ngIf="pageDoneLoading && recordExist" class="maincard_bubble" text-center padding>
   <ion-card-content >
     <ion-card-title>
       You Earned it hard
       </ion-card-title>
     <p>
        Tap to redeem your referral incentives
     </p>
   </ion-card-content>
</ion-card>


<p *ngIf="pageDoneLoading && recordExist">Referrals You Sent</p>
 <ion-list class="ionlistcss" *ngIf="allReferrals_HTML.length > 0">
   <ion-item *ngFor="let item of allReferrals_HTML"  tappable (click)="goToIncentiveDeailsPage(item)">
     <ion-avatar item-start>
       <img *ngIf="item.isBlock == false" class="avtar-img-list"
         src="{{item.photoURL || 'assets/imgs/user.png'}}">
       <img *ngIf="item.isBlock == true" class="avtar-img-list"
         src="{{'assets/imgs/user.png'}}">
     </ion-avatar>
     <h2>{{item.displayName}}</h2>
     <p>Referral Sent <ion-badge item-end>{{item.referral_displayName}}</ion-badge></p>
     <p>Incentive  <ion-badge color="primary" item-end>{{item.business_referral_type_name}} {{item.business_referral_type_detail}}</ion-badge></p>
     <ion-icon *ngIf="item.redeemStatus<=0"   item-end name="help-circle"></ion-icon>
     <ion-icon *ngIf="item.redeemStatus>=1 && item.redeemStatus<2"   item-end name="checkmark-circle"></ion-icon>
     <ion-icon *ngIf="item.redeemStatus>=2 " color="secondary"   item-end name="checkmark-circle"></ion-icon>


   </ion-item>
</ion-list>

</ion-content>
