<ion-header>

  <ion-navbar>
    <ion-title>Earnings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      You may earn 1000 points everytime you send referral to participating local businesses.  
</ion-content>
