<ion-header >
  <ion-navbar hideBackButton>
    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey_old">
  <div class="bg-profile-wrap">
    <div [style.background]="'url('+ profileData.imgurl + ')'" class="bg-profile"></div>
    <div class="profile-image">
      <img src="{{profileData.imgurl}}" #myImage (click)="presentImage(myImage)" />
      <button ion-button round outline color="btn-white" (click)="choseImage()" style="padding: 0 1.2rem;">
        <ion-icon name="camera"></ion-icon>
      </button>

    </div>
  </div>
  <div class="bg-grey_old" padding-vertical>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item (click)="username(profileData.username)">
            <ion-label>
              <p *ngIf="profileData.username != ''">{{profileData.username}}</p>
              <p *ngIf="profileData.username == ''">{{usernamePlaceholder}}</p>
            </ion-label>
          </ion-item>

          <ion-item class="textarea-lbl" (click)="discription(profileData.disc)">
            <div>
              <p *ngIf="profileData.disc != ''" [innerHTML]="profileData.disc"></p>
              <p *ngIf="profileData.disc == ''" [innerHTML]="discPlaceholder"></p>
            </div>
          </ion-item>
          <button ion-button class="button-secondary" (click)="proceed()" [disabled]="profileData.username == ''">Update</button>
          <button ion-button style="display:none;" class="button-secondary hide" (click)="deleteProfile()" [disabled]="profileData.username == ''">Delete</button>
          </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
