<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Group Members</ion-title>
    <ion-searchbar placeholder="Search" class="searchbar"
    (ionInput)="searchuser($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>



<ion-content>
	<ion-list no-lines>
	  <!-- <ion-item-sliding *ngFor="let key of groupmembers"> -->
	    <ion-item *ngFor="let key of groupmembers">
	      <ion-avatar item-left>
	        <img src="{{key.photoURL}}">
	      </ion-avatar>
	      <h2>{{key.displayName}}</h2>
	      <button ion-button icon-only item-end (click)="removemember(key)">
	        <ion-icon name="trash"></ion-icon>
	      </button>
	    </ion-item>
	    <!-- <ion-item-options slide="left">
	      <button ion-button color="danger" (click)="removemember(key)">
	        <ion-icon name="trash"></ion-icon>
	        Remove
	      </button>
	    </ion-item-options>
	  </ion-item-sliding> -->
	</ion-list>

	<div *ngIf="groupmembers?.length == 0" align="center">
		 No result found!
	</div>
</ion-content>
