page-show-contact {
    .header-wrap {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        .left-arrow {
            order: 1;
            margin-right: 10px;
        }
        .header-title {
            order: 2;
            font-size: 20px;
        }
    }
}
