page-pick-contact-execute {

    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 14px;
    }
      .referralicon {
        font-size: 30px;
      }
      .referraltext {
        float:left;
        margin-top:7px;
        margin-right:5px;
      }

    .header-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .flex-start {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .left-arrow {
            order:1;
            margin-right: 10px;
          }
          .title-wrap {
            order:2;
            display: flex;
            flex-direction: row;
            align-items: center;
            .user-img {
              margin-right: 10px;
              img {
                height: 40px;
                width: 40px;
                @include css3-prefix(border-radius, 100%);
              }
            }
            .title-uname {
              h3 {
                width: 180px;
                margin-top: 0px;
                margin-bottom: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .font {
                font-size: 15px;
              }
            }
          }
        }
        .flex-end {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          order:3;
        }
    }

    .select-wrap {
      display: flex;
      align-items: center;
      justify-content:space-between;
      .flex-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
      order:1;
      margin-top: 0 !important;
      margin-right: 10px;
      }
      .select-title {
      order:2;
      font-size:20px;
      }
      }
      .flex-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .bar-buttons {
      margin-top: 0 !important;
      }
      }
    }

    .toolbar-ios {
      ion-title {
        padding: 0 30px 1px;
      }
    }

    ion-label.label {
      margin-bottom: 0;
      text-overflow: unset;
    }

    .bubble {
      float: left;
      position: relative;
      display: inline-block;
      /*// width: 220px;*/
      @include calc(width, '100% - 110px');
      min-height: 55px;
      margin: 0 55px;
      padding: 12px 10px 5px;
      @include css3-prefix(border-radius, 15px);
      &:after {
        position: absolute;
        z-index: -1;
        top: auto;
        bottom: 0;
        height: 70px;
        width: 100px;
        margin-bottom: -10px;
        content: '';
      }
    }

    .msg-wrap {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      ion-avatar {
        position: absolute;
        top: auto;
        bottom: 0;
        float: left;
        display: inline-block;
        margin: 0 0 15px;
      }


      &.you {
        .referraltext {
          color:#555;
        }

        ion-avatar {
          left: 0;
        }
        .bubble {
          @extend .bg-grey;
          &:after {
            left: 0;
            margin-left: -64px;
            margin-bottom: -7px;
            /*background-image: url('../assets/imgs/msg-curve-grey.png');*/
          }
          .msg-partision {
            height: 97px;
            width: 99px;
            margin-top: -3px;
            display: inline-block;
            border-left: 3px solid #359FC0;
            border-bottom: 3px solid #359FC0;
          }
          img.contact{
            float: left;
            height: 40px;
            width: 40px;
            margin-right: 15px;
            border-radius: 50%;
          }
          .view-msg{
            float: left;
            vertical-align: top;
            padding-top: 10px;
            font-size: 16px;
          }
          .img-number {
            position: absolute !important;
            top: 25.8% !important;
            left: 50.6%;
            transform: translateY(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
            color: $white;
            z-index: 99;
            &.overlay {
              position: fixed;
              height: 96px;
              width: 98px;
              background-color: rgba(0, 0, 0, .5);
            }
          }
          .msg {
            margin-bottom: 0 !important;
          }
          .read-recipients {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            ion-icon {
              margin-right: 5px;
              color: $grey-primary;
              &.checkmark-icon {
                color: $checkmarkcolor !important;
              }
            }
            p {
              margin-right: 5px;
              color: $grey-primary;
            }
          }
        }



      }
      &.me {
        .referraltext {
          color:#bbb;
        }
        ion-avatar {
          right: 0;
          float: right;
        }
        .bubble {
          @extend .bg-primary;
          &::after {
            right: 0;
            margin-right: -64px;
            /*background-image: url('../assets/imgs/msg-curve.png');*/
          }
          .msg-partision {
            height: 97px;
            width: 99px;
            margin-top: -3px;
            display: inline-block;
            border-left: 3px solid #359FC0;
            border-bottom: 3px solid #359FC0;
          }
          .img-number {
            position: absolute !important;
            top: 25.8% !important;
            left: 50.6%;
            transform: translateY(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
            color: $white;
            z-index: 99;
            &.overlay {
              position: fixed;
              height: 96px;
              width: 98px;
              background-color: rgba(0, 0, 0, .5);
            }
          }
          .msg {
            margin-bottom: 0 !important;
          }
          img.contact{
            float: left;
            height: 40px;
            width: 40px;
            margin-right: 15px;
            border-radius: 50%;
          }
          .view-msg{
            float: left;
            vertical-align: top;
            padding-top: 10px;
            font-size: 16px;
            // width: calc(100% - 40px);
            // text-align: center;
          }

          .read-recipients {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ion-icon {
              margin-right: 8px;
              color: $grey-primary;
              &.checkmark-icon {
                color: $checkmarkcolor !important;
              }
            }
            p {
              margin-right: 5px;
              color: $grey-primary;
            }
          }

        }
      }
    }

    .bubble-img {
      position: relative;
      display: inline-block;
      @include calc(width, '100% - 160px');
      min-height: 55px;
      margin: 0 55px;
      padding: 12px 10px 5px;
      @include css3-prefix(border-radius, 15px);
      &:after {
        position: absolute;
        z-index: -1;
        top: auto;
        bottom: 0;
        height: 70px;
        width: 100px;
        margin-bottom: -10px;
        content: '';
      }
    }

    .msg-wrap {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      ion-avatar {
        position: absolute;
        top: auto;
        bottom: 0;
        float: left;
        display: inline-block;
        margin: 0 0 15px;
      }
      &.you {
        ion-avatar {
          left: 0;
        }
        .bubble-img {
          position: relative;
          display: inline-block;
          // @include calc(width, '100% - 160px');
          width: 220px;
          min-height: 55px;
          margin: 0 55px;
          padding: 12px 10px 5px;
          @include css3-prefix(border-radius, 15px);
          @extend .bg-grey;
          @include mq(phone-small, max) {
            @include calc(width, '100% - 110px');
          }
          &:after {
            left: 0;
            margin-left: -64px;
            margin-bottom: -7px;
            /*background-image: url('../assets/imgs/msg-curve-grey.png');*/
          }
          .img-number {
            position: absolute !important;
            top: 25% !important;
            left: 49.5%;
            transform: translateY(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
            color: $white;
            z-index: 99;
            @include mq(phone-small, max) {
              top: 25.4% !important;
              left: 49.9%;
            }
            &.overlay {
              position: fixed;
              height: 97.5px;
              width: 98.8px;
              background-color: rgba(0, 0, 0, .5);
              @include mq(phone-small, max) {
                height: 97.5px;
                width: 98.8px;
              }
            }
          }
          .msg {
            margin-bottom: 0 !important;
          }
          .msg-partision {
            height: 97px;
            width: 99px;
            margin-top: -3px;
            display: inline-block;
            // border-left: 4px solid #EDEDED !important;
            // border-bottom: 0px solid #EDEDED !important;
            &:nth-child(1) {
              border-right: 5px solid #EDEDED;
            }
            &:nth-child(3) {
              border-right: 5px solid #EDEDED;
            }
          }
          .read-recipients {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            ion-icon {
              margin-right: 5px;
              color: $grey-primary;
              &.checkmark-icon {
                color: $checkmarkcolor !important;
              }
            }
            p {
              margin-right: 5px;
              color: $grey-primary;
            }
          }
        }


      }
      &.me {
        ion-avatar {
          right: 0;
          float: right;
        }
        .bubble-img {
          float: right;
          position: relative;
          float: right;
          display: inline-block;
          // @include calc(width, '100% - 160px');
          width: 220px;
          min-height: 55px;
          margin: 0 55px;
          padding: 12px 10px 5px;
          @include css3-prefix(border-radius, 15px);
          @extend .bg-primary;
          @include mq(phone-small, max) {
            @include calc(width, '100% - 110px');
          }
          &::after {
            right: 0;
            margin-right: -64px;
            /*background-image: url('../assets/imgs/msg-curve.png');*/
          }
          .img-number {
            position: absolute !important;
            top: 25% !important;
            left: 49.5%;
            transform: translateY(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
            color: $white;
            z-index: 99;
            @include mq(phone-small, max) {
              top: 25.4% !important;
              left: 49.9%;
            }
            &.overlay {
              position: fixed;
              height: 97.5px;
              width: 98.8px;
              background-color: rgba(0, 0, 0, .5);
              @include mq(phone-small, max) {
                height: 97.5px;
                width: 98.8px;
              }
            }
          }
          .msg {
            margin-bottom: 0 !important;
          }
          .msg-partision {
            height: 97px;
            width: 99px;
            margin-top: -3px;
            display: inline-block;
            // border-left: 3px solid #359FC0;
            // border-bottom: 3px solid #359FC0;
            &:nth-child(1) {
              border-right: 5px solid #359FC0;
            }
            &:nth-child(3) {
              border-right: 5px solid #359FC0;
            }
          }
          .read-recipients {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            ion-icon {
              margin-right: 8px;
              color: $grey-primary;
              &.checkmark-icon {
                color: $checkmarkcolor !important;
              }
            }
            p {
              margin-right: 5px;
              color: $grey-primary;
            }
          }
        }
      }
    }

    .footer {
      border-top: 1px solid $grey;
      .toolbar-content {
        min-height: 0;
      }
      input.text-input {
        @extend .bg-transparent;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
      }
    }

    .select-item{
      // background-color: #defffb;
      position: relative;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background-color: rgba(53, 159, 192, .3);
        content: '';
      }
    }

    /* design for ios */
    .bar-buttons-ios {
      .bar-button-default-ios {
        padding: 12px 5px 5px !important;
      }
    }
    .toolbar-ios {
      .title-ios {
        padding: 17px 60px 1px !important;
        .toolbar-title-ios {
          text-align: left !important;
        }
      }
    }
    ion-icon {
      &.checkmark-icon {
        &.icon-align-ios {
          margin-left: -16px !important;
        }
      }
    }
    /* End */

}
