<ion-header>
    <ion-navbar hideBackButton="{{backbuttonstatus}}" >
        <div class="header-wrap" *ngIf="headercopyicon">
            <div class="flex-start">
                <!-- <ion-buttons class="left-arrow">
                    <button ion-button icon-only (click)="backButtonClick()">
                        <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                    </button>
                </ion-buttons> -->
                <div class="title-wrap" (click)="viewBuddy(buddy.displayName,buddy.mobile,buddy.disc,buddy.photoURL,isuserBlock)" text-left left>
                   <ion-avatar class="user-img" left>
                        <img src="{{buddy.photoURL}}" *ngIf="isuserBlock == false">
                        <img src="assets/imgs/user.png" *ngIf="isuserBlock == true">
                    </ion-avatar>

                    <div class="title-uname">
                        <h3>{{buddy.displayName}}</h3>
                        <div class="font" *ngIf="isuserBlock == false">{{buddyStatus}}</div>
                    </div>
                </div>
            </div>
            <div class="flex-end">
                <ion-buttons end>
                    <button ion-button icon-only (click)="viewPopover($event)">
                        <ion-icon ios="md-more" md="md-more"></ion-icon>
                    </button>
                </ion-buttons>
            </div>
        </div>
        <div class="select-wrap" *ngIf="!headercopyicon">
            <div class="flex-start">
                <ion-buttons start class="left-arrow">
                    <button start ion-button icon-only (click)="closeButtonClick()">
                    <ion-icon ios="md-close" md="md-close"></ion-icon>
                    </button>
                </ion-buttons>
                <div class="select-title" text-left left *ngIf="selectCounter > 0">
                {{selectCounter}}
                </div>
            </div>
            <div class="flex-end">
                <ion-buttons end>
                    <button ion-button icon-only (click)="deleteMessage()">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </button>
                    <!-- <button ion-button icon-only (click)="starredMessage()">
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                    </button> -->
                </ion-buttons>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content #content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="chatwindow">
        <ion-list no-lines>
            <ng-container *ngFor="let items of filterallmessages; let j = index">
                <ion-list-header *ngIf="items.date == todaydate && items.messages.length > 0" align="center">Today</ion-list-header>
                <ion-list-header *ngIf="items.date != todaydate" align="center">{{items.date}}</ion-list-header>
                <div *ngFor="let item of items.messages ; let i = index; ">
                    <div id="unreadID" style="text-align: center;" *ngIf="i == items.messages.length - UnreadMSG">
                        <p>-------
                            <ion-badge> Unread </ion-badge>
                        -------</p>
                    </div>
                    <ion-item text-wrap>
                        <div [ngClass]="{ 'select-item': item.selection }" (press)="popoverdialog(item,$event)" (click)="popoveranothermsg(item,$event)">

                            <div class="msg-wrap you" *ngIf="item.sentby === buddy.uid">

                                <ion-avatar *ngIf="isuserBlock == false">
                                    <img src="{{buddy.photoURL}}">
                                </ion-avatar>
                                <ion-avatar *ngIf="isuserBlock == true">
                                    <img src="assets/imgs/user.png">
                                </ion-avatar>

                                <div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document' ?'bubble-img':'bubble'">

                                    <div class="msg" *ngIf="item.type == 'message' && item.selectCatId && item.selectCatId>0"><p class="referraltext">{{referralRequestPrefix}}</p><ion-icon  class="referralicon"  name="arrow-dropright-circle"></ion-icon>
                                    <div>{{item.message}}</div>
                                    </div>

                                    <div class="msg" *ngIf="item.type == 'message' && (!item.selectCatId || item.selectCatId<=0)">{{item.message}}</div>

                                    <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />
                                    <audio controls class="msg" *ngIf="item.type == 'audio'">
                                        <source src="{{item.message}}" type="audio/mpeg">
                                    </audio>
                                    <img class="msg" *ngIf="item.type == 'location'" src="assets/imgs/location.png"
                                        (click)="showLocation(item.message)" />
                                    <!-- <div class="msg" *ngIf="item.type == 'audio'" (click)="playAudio(item.message)">Audio</div> -->
                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type=='image'">
                                        <div (click)="openAllImg(item.message,$event)" class="selection-data">
                                            <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                                                src="{{pic}}" />
                                            <span class="img-number overlay">+ {{item.message.length - 4}}</span>
                                        </div>
                                    </ng-container>

                                    <ng-container class="msg" *ngIf="!item.multiMessage && item.type == 'image'">
                                        <img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"
                                            (click)="presentImage(mychatImage)" />
                                    </ng-container>

                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" >
                                        <img class="msg contact" src="assets/imgs/user.png" />
                                        <div *ngIf="item.message.length == 1"(click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
                                        <div *ngIf="item.message.length > 1" (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
                                    </ng-container>

                                    <div class="read-recipients">
                                            <ion-icon *ngIf="item.isStarred" name="star" class="icon"></ion-icon>
                                            <p class="icon">{{item.timeofmsg}}</p>
                                    </div>

                                </div>
                            </div>
                            <div class="msg-wrap me" *ngIf="item.sentby != buddy.uid">
                                <ion-avatar>
                                    <img src="{{photoURL}}">
                                </ion-avatar>
                                <div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document' ?'bubble-img':'bubble'">

                                    <div class="msg" *ngIf="item.type == 'message' && item.selectCatId && item.selectCatId>0"><p class="referraltext">{{referralRequestPrefix}}</p><ion-icon  class="referralicon" (click)="sendReferral (buddy, item.selectCatId)"  name="arrow-dropright-circle"></ion-icon>
                                    <div>{{item.message}}</div>
                                    </div>

                                    <div class="msg" *ngIf="item.type == 'message' && (!item.selectCatId || item.selectCatId<=0)">{{item.message}}</div>

                                    <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />
                                    <img class="msg" *ngIf="item.type == 'location'" src="assets/imgs/location.png"
                                        (click)="showLocation(item.message)" />

                                    <audio controls class="msg" *ngIf="item.type == 'audio'">
                                        <source src="{{item.message}}" type="audio/mpeg">
                                    </audio>
                                    <!-- <div class="msg" *ngIf="item.type == 'audio'" (click)="playAudio(item.message)">Audio</div> -->
                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type=='image'" >
                                        <div (click)="openAllImg(item.message)" class="selection-data">
                                            <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                                                src="{{pic}}" />
                                            <span class="img-number overlay">+ {{item.message.length - 4}}</span>
                                        </div>
                                    </ng-container>
                                    <ng-container class="msg" *ngIf="!item.multiMessage ">
                                        <img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"
                                            (click)="presentImage(mychatImage)" />
                                    </ng-container>
                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" >
                                        <img class="msg contact" src="assets/imgs/user.png" />
                                        <div *ngIf="item.message.length == 1"(click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
                                        <div *ngIf="item.message.length > 1" (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
                                    </ng-container>



                                        <div class="read-recipients">
                                            <ion-icon *ngIf="item.isStarred" name="star" class="icon"></ion-icon>
                                            <p class="icon">{{item.timeofmsg}}</p>
                                            <ion-icon *ngIf="!item.isRead" name="checkmark" class="icon"></ion-icon>
                                            <!-- <ion-icon *ngIf="!item.isRead" name="checkmark"></ion-icon> -->
                                            <ion-icon *ngIf="item.isRead" color="secondary" class="checkmark-icon" name="checkmark"></ion-icon>
                                            <ion-icon *ngIf="item.isRead" color="secondary" class="checkmark-icon icon-align icon-align-ios" name="checkmark"></ion-icon>
                                        </div>


                                    </div>

                            </div>
                        </div>
                    </ion-item>
                </div>
            </ng-container>
        </ion-list>
    </div>
</ion-content>

<ion-footer ion-fixed>
    <form [formGroup]="authForm">
        <ion-toolbar class="no-border" color="white">
            <ion-input [(ngModel)]="newmessage" [formControl]="message" (click)="scrollto()" (input)="onChange($event.keyCode)" name="message" class="newmsg" placeholder="Write your message ..."></ion-input>
            <ion-buttons end *ngIf="selectAllMessage.length == 0">
                <a ion-button (click)="openAttachment($event)">
                    <ion-icon class="ion-image" ios="md-attach" md="md-attach"></ion-icon>
                </a>
            </ion-buttons>
            <ion-buttons end>
                <button ion-button round type="submit" class="sentbtn" [disabled]="!this.msgstatus || !selectAllMessage.length == 0"
                    (click)="addmessage()">
                    <ion-icon ios="md-send" md="md-send" color="wcolor" style="font-size: 2.2em;"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </form>
</ion-footer>
