<ion-header>
  <ion-navbar >
      <div class="header-wrap">
          <!-- <ion-buttons class="left-arrow" left>
              <button ion-button icon-only (click)="goBack()">
                <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
              </button>
          </ion-buttons> -->
          <div class="header-title">Add new members</div>
      </div>
  </ion-navbar>
  <ion-searchbar placeholder="Search" class="searchbar" (ionInput)="searchuser($event)">
  </ion-searchbar>
  <ng-container *ngIf="selectedMember.length > 0">
      <ion-list class="group-wrap">
        <ion-item *ngFor="let item of selectedMember">
            <ion-avatar class="buddy-pic" item-left>
                <img src="{{item.photoURL}}">
            </ion-avatar>
          <p>{{item.displayName}}</p>
        </ion-item>
      </ion-list>
  </ng-container>
</ion-header>


<!-- <ion-content padding>

  <ion-list class="group-wrap" *ngIf="selectedMember.length > 0">
    <ion-item *ngFor="let item of selectedMember">
      <ion-avatar item-left><img src="{{item.photoURL}}"></ion-avatar>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ng-container *ngFor="let key of myfriends">
      <ion-item (click)="addbuddy(key)">
        <ion-avatar item-left><img src="{{key.photoURL}}"></ion-avatar>
        <h2>{{key.displayName}}</h2>
      </ion-item>
    </ng-container>
  </ion-list> -->
  <ion-content padding [ngClass]="selectedMember.length != 0 ?'group-wrap-active':'group-wrap-no-active'">
  <ion-list>
      <ng-container *ngFor="let key of myfriends">
        <ion-item (click)="addbuddy(key)">
          <ion-avatar item-left>
              <img src="{{key.photoURL}}">
          </ion-avatar>
          <h2>{{key.displayName}}</h2>
        </ion-item>
      </ng-container>
    </ion-list>
  <div *ngIf="myfriends?.length == 0" align="center">
    No result found!
  </div>

  <ion-fab bottom right>
    <button ion-fab [disabled]="selectedMember.length == 0" (click)="goNext()">
      <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>