page-groupbuddiesadd {
    .header-wrap {
        width: 100%;
    /*padding: 10px 0 0;*/
    display: flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: center;
		.left-arrow {
			order:1;
			margin-right: 10px;
		}
        .header-title {
			order: 2;
			font-size: 20px;
            font-weight: 500;
            p {
                margin-top: 0;
                font-size: 12px !important;
                &.below-header{
                    font-size: 1rem;
                }
            }
		}
    }
    ion-list {
        &.group-wrap {
          background-color: $white;
          overflow: scroll;
          overflow-y: auto;
          height: 90px !important;
          ion-item {
            &.item {
              display: flex; 
              flex-direction: column;
              height: 83px !important;
              margin-right: 7px !important;
              ion-avatar[item-left] {
                  margin: 8px 0 8px 0!important;
              }
              .item-inner {
                padding-right: 0 !important;
              }
            }
          }
          ion-label {
            &.label {
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              width: 50px;
              text-align: center;
              margin-right: 0 !important;
            }
          }
        }
      }
      ion-item {
        &.item-block {
          padding-left: 0 !important;
        }
      }
      .scroll-content {
        margin-top: 145px !important;
      }
      .group-wrap-active {
        .scroll-content {
          margin-top: 202px !important;
          @include mq('phone-small') {
            margin-top: 215px !important;
          }
        }
      }
      /* design for ios */
      ion-searchbar {
        &.searchbar-ios {
          background-color: #FAFAFA !important;
          border-bottom: 0.55px solid $grey-border !important;
          padding: 10px; 
        }
      }
      .list-ios {
        .item-ios {
          border-top: 0 !important;
          &:last-child {
            border-bottom: 0 !important;
          }
        }
      }
      .group-wrap-active {
        &.content-ios {
          .scroll-content {
            margin-top: 215px !important;
          }
        }
      }
      /* End */
}
