<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Referral Request
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>{{friend_asking_referral_displayName}} is asking you a referral for {{friend_asking_referral_catName}}</h3>
      <p>Do you know any contact which can help him for {{friend_asking_referral_catName}} related work?
      </p>
<br />
        <button ion-button  (click)="sendPickContactTo()" color="primary" block>Send Referral</button>
  </div>
</ion-content>
