<ion-header>

  <ion-navbar >
    <div class="header-wrap">
        <!-- <ion-buttons class="left-arrow" left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons> -->
       <div class="header-title">Add a New Group</div>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>
<div class="profile-image" (click)="chooseimage()">
  <img src="{{newgroup.groupPic}}">
</div>
<div>
  <h2 (click)="editgroupname()">{{newgroup.groupName}}</h2>
</div>
<div>
  Tap on the pic or group name to change it.
</div>
<div class="spacer" style="height: 10px;"></div>
<div>
  <button ion-button round outline (click)="creategroup()">Create</button>
</div>
</ion-content>
