
<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Add a New Group</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="profile-image" (click)="chooseimage()">
  <img src="{{newgroup.groupPic}}">
</div>
<div>
  <h2 (click)="editgroupname()">{{newgroup.groupName}}</h2>
</div>
<div>
  Tap on the pic or group name to change it.
</div>
<div class="spacer" style="height: 10px;"></div>
<div>
  <button ion-button round outline (click)="creategroup()">Create</button>
</div>
</ion-content>
