<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Submit Request
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
    <div class="pull-center givepadding">
        <h3>Get Trusted Referrals</h3>
        <p>Instead of calling or texting to each of your friend, ask to whole network with ease</p>
    </div>
  <ion-list inset>
    <ion-item>
     <ion-label color="primary" floating>Request Details (Optional)</ion-label>
     <ion-textarea  [(ngModel)]="newmessage" [formControl]="message"  type="text"  rows="7" name="message" class="newmsg"  ></ion-textarea>
   </ion-item>
   <ion-item inset>
   </ion-item>
  </ion-list>

  <div padding>
    <button ion-button (click)="broadcast()" color="primary" block>Post Request</button>
  </div>
</ion-content>
