<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Send Referral
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="pull-center">
      <p class="text_color_primary" >Tap on the contact to send referral</p>


      <ion-searchbar (ionInput)="getItems($event)" placeholder="Search Contacts"></ion-searchbar>
      <ion-list>
        <ion-item (click)="fnRefer()"  *ngFor="let item of items">
          <p>{{item}}</p>
          <ion-icon end item-end   name='arrow-dropright-circle'> </ion-icon>
        </ion-item>
      </ion-list>
  </div>

</ion-content>
