<ion-header>

  <ion-navbar color="dark">
    <div class="header-wrap">
      <div class="flex-start">
          <ion-buttons left>
              <button ion-button icon-only (click)="dismiss()"><ion-icon ios="md-close" md="md-close" ></ion-icon></button>
          </ion-buttons>
      </div>
      <div class="header-title">Description</div>
      <div class="flex-end">
          <ion-buttons right>
              <button  ion-button icon-only (click)="save()" ><ion-icon ios="md-checkmark" md="md-checkmark" ></ion-icon></button>
          </ion-buttons>
      </div>
    </div>
    
  </ion-navbar>

</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item>

        <ion-textarea (keydown)="limitText($event)" (keydown.enter)="false" (keyup)='limitText($event);' ng-trim="false" maxlength="250" id="text" placeholder="Enter a description" rows="10" cols="10" [(ngModel)]="disc"></ion-textarea>


        
      </ion-item>

     
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
