page-disc {
    .header-wrap {
        display:flex;
        align-items:center;
        justify-content: space-between;
        .flex-start {
            order: 1;
            justify-content: flex-start;
        }
        .header-title {
            order:2;
            font-size: 20px;
        }
        .flex-end {
            order:3;
            justify-content: flex-end;
        }
    }
}
