<ion-header>
  <ion-navbar >
    <ion-title>
      Broadcast
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <div class="flex-end-notif">
      <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="notifications" class="notification"></ion-icon>
            <ion-badge class="notification" color="danger" *ngIf="requestcounter != null">{{requestcounter}}</ion-badge>
          </button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>



<ion-content padding>


    <div class="pull-center givepadding">
        <h3>Broadcast to your clients</h3>
        <p>Send branded push notifications with high level of delivery & better engagement than emails, text </p>


    </div>

<div *ngIf="!doIhavebusinessAccount">
  <h4>This feature works best with your business account. Let's get started </h4>
  <button ion-button (click)="sendToBusinessReg()" color="primary" block>Register Your Business</button>
</div>

<ion-card *ngIf="false && doIhavebusinessAccount && showPaidSign">
  <ion-card-content>
     You have not paid yet for business. Please pay before using this feature
  </ion-card-content>
</ion-card>

<div *ngIf="doIhavebusinessAccount && !showPaidSign">
  <h5>Text To Broadcast (e.g. Promo, Ad)</h5>
  <ion-list inset>
    <ion-item>
     <ion-label color="primary" floating></ion-label>
     <ion-textarea  [(ngModel)]="newmessage" [formControl]="message"  type="text"  rows="7" name="message" class="newmsg" placeholder="Write your message ..." ></ion-textarea>
   </ion-item>
   <ion-item inset>
   </ion-item>
  </ion-list>
  <div padding>
    <button ion-button (click)="broadcast()" color="primary" block>Broadcast</button>
  </div>
</div>


</ion-content>
