<ion-header>

  <ion-navbar color="darkblue" >
    <div class="header-wrap">
      <!-- <ion-buttons class="left-arrow" left *ngIf="isDisabled">
        <button ion-button icon-only (click)="back()">
          <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>
      </ion-buttons> -->
      <div class="header-title">Profile</div>
    </div>
    <!-- <ion-title text-left>Profile</ion-title>

      <ion-buttons left *ngIf="isDisabled">
          <button ion-button icon-only (click)="back()">
            <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
          </button>
        </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content class="bg-grey">
  <div class="bg-profile-wrap">
    <div [style.background]="'url('+ profileData.imgurl + ')'" class="bg-profile"></div>
    <div class="profile-image">
      <img src="{{profileData.imgurl}}" #myImage (click)="presentImage(myImage)" />
      <button ion-button round outline color="btn-white" (click)="choseImage()" style="padding: 0 1.2rem;">
        <ion-icon name="camera"></ion-icon>
      </button>

    </div>
  </div>
  <div class="bg-grey" padding-vertical>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item (click)="username(profileData.username)">
            <ion-label>
              <p *ngIf="profileData.username != ''">{{profileData.username}}</p>
              <p *ngIf="profileData.username == ''">{{usernamePlaceholder}}</p>
            </ion-label>
          </ion-item>

          <ion-item class="textarea-lbl" (click)="discription(profileData.disc)">
            <div>
              <p *ngIf="profileData.disc != ''" [innerHTML]="profileData.disc"></p>
              <p *ngIf="profileData.disc == ''" [innerHTML]="discPlaceholder"></p>
            </div>
          </ion-item>
          <button ion-button class="button-secondary" (click)="proceed()" [disabled]="profileData.username == ''">Update</button>
          <button ion-button class="button-secondary" (click)="deleteProfile()" [disabled]="profileData.username == ''">Delete</button>
          </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>