<ion-header>

  <ion-navbar >
    	<div class="search-wrap">
			<ion-buttons class="close-left" left>
				<button ion-button icon-only (click)="dismiss()"><ion-icon ios="md-close" md="md-close" ></ion-icon></button>
			</ion-buttons>
			<ion-searchbar class="searchbar" placeholder="Search" (ionInput)="search($event)"></ion-searchbar>
		</div>
  </ion-navbar>

</ion-header>


<ion-content #content>
	<div class="chatwindow">
		<div *ngIf="isNoRecord" padding text-center>No record found!</div>
		<ion-list no-lines *ngIf="allgroupMessage.length > 0">
				<ion-item text-wrap *ngFor="let item of allgroupMessage; let i = index">
					<div class="msg-wrap me" *ngIf="item.sentby == alignuid">
						<ion-avatar>
							<img src="{{item.photoURL}}">
						</ion-avatar>
						<div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document'?'bubble-img':'bubble'">
							<div class="displayname">{{item.displayName}}</div>
							<div class="msg" *ngIf="!imgornot[i] && item.type == 'message'">{{item.message}}</div>
							<img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" />
						
							<audio controls class="msg" *ngIf="item.type == 'audio'">
								<source src="{{item.message}}" type="audio/mpeg">
							</audio>
									
							<ng-container class="msg" *ngIf="item.multiMessage && item.type == 'image'">
								<img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index " src="{{pic}}" />
                    		    <span class="img-number overlay">+{{item.message.length - 4}}</span>
							</ng-container>

							<ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'">
                                <div>
                                	<img class="msg contact" src="assets/imgs/user.png" />
                                	<div class="view-msg">View {{ item.message.length }} Contact</div>
                                </div>
							</ng-container>

							<ng-container *ngIf="!item.multiMessage && item.type == 'image'">
                                <img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"/>
                            </ng-container>

                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'location'">
                                <img class="msg" src="assets/imgs/location.png" />
							</ng-container>
							
							<div class="msg-time">
                                <p>{{item.timeofmsg}}</p>
                            </div>
						</div>
					</div>

					<div class="msg-wrap you" *ngIf="item.sentby != alignuid">
						<ion-avatar>
							<img src="{{item.photoURL}}">
						</ion-avatar>
						
						<div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document' ?'bubble-img':'bubble'">
							<div class="displayname">{{item.displayName}}</div>
                           
                            <div class="msg" *ngIf="!imgornot[i] &&  item.type == 'message'">{{item.message}}</div>
                           
                            <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" />
							
							<audio controls class="msg" *ngIf="item.type == 'audio'">
                                <source src="{{item.message}}" type="audio/mpeg">
							</audio>
							
							<ng-container class="msg" *ngIf="item.multiMessage && item.type == 'image'">
                                <div>
                                    <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index " src="{{pic}}" />
                                    <span class="img-number overlay">+ {{item.message.length - 4}}</span>
                                </div>
							</ng-container>
							
							<ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" click)="openContacts(item.message)">
                                <div>
                                	<img class="msg contact" src="assets/imgs/user.png" />
                               		<div class="view-msg">View {{ item.message.length }} Contact</div>
                                </div>
							</ng-container>
							
							<ng-container *ngIf="!item.multiMessage && item.type == 'image'">
                                <img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}" />
							</ng-container>
							
                            <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'location'">
                                <img class="msg" src="assets/imgs/location.png" />
							</ng-container>
							
							<div class="msg-time">
                                <p>{{item.timeofmsg}}</p>
                            </div>
						</div>
					</div>
				</ion-item>
		</ion-list>
	</div>
</ion-content>
