<ion-header>
    <ion-navbar >
      <div class="header-wrap">
        <div class="flex-start">
          <!-- <ion-buttons class="left-arrow" left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
            </button>
          </ion-buttons> -->
         <div class="header-title">Blocked contacts</div>
        </div>
        <div class="flex-end">
          <ion-buttons end>
            <button ion-button icon-only (click)="openFriend()">
              <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
            </button>
          </ion-buttons>
        </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey" padding>
  <ion-list *ngIf="blockUsers">
      <ng-container *ngFor="let item of blockUsers">
        <ion-item (press)="ubblockuser(item)">
          <ion-avatar item-start class="avtar-class"><img src="{{item.photoURL || 'assets/imgs/user.png'}}"></ion-avatar>
          <h2>{{item.displayName}}</h2>
        </ion-item>
      </ng-container>
  </ion-list>

  <ion-list *ngIf="blockRequest">
    <ion-item-group>
        <div class="border-bottom" *ngFor="let item of blockRequest" >
          <ion-item no-lines (press)="ubblockrequest(item)">
              <ion-avatar item-start class="avtar-class">
                <img src="{{item.photoURL || 'assets/imgs/user.png'}}">
              </ion-avatar>
              <h2 class="name-class">{{item.displayName}}</h2>
          </ion-item>
        </div>
    </ion-item-group>
  </ion-list>
  <div padding text-center *ngIf="blockUsers.length == 0 && blockRequest.length == 0">
    No record found!
  </div>
</ion-content>
