page-displayname {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .header-title {
      font-size: 20px;
    }
  }
  .content-title {
    font-size: 18px;
  }
  ion-label {
    margin: 0 !important;
    .errormsg {
      margin-top: 0 !important;
      color: #000;
      font-size: 15px;
    }
  }
}
