<ion-header>
  <ion-navbar>
    <div class="header-wrap">
      <div class="header-title">Your Name</div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="authForm" (submit)="save()">
 

    <ion-label class="content-title"> Let's give you a name</ion-label>
    <ion-input type="text" (input)="onChange($event.keyCode)"formControlName="username" id="username" [value]="username" [(ngModel)]="username" maxlength="30" placeholder="Your Name"></ion-input>
    <ion-label *ngIf="(!authForm.controls.username.valid||!msgstatus)  && (authForm.controls.username.dirty || submitted)">
        <p class="errormsg">Please enter a valid Name.</p>
    </ion-label>
    <button ion-button class="button-secondary" type="submit" [disabled]="!authForm.valid || !this.msgstatus" >Submit</button>
  </form>
</ion-content>
