<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Your Request Status
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-item padding class="highcard profilecard pull-center" no-lines>
       <h1>You Requested <br /><span class="text_color_primary strongwords">Website Designer</span></h1>
       <h3>on May 2, 2018 at 02:30 pm</h3>
   </ion-item>

   <ion-list>
     <ion-list-header color="light" no-lines>
       In Your Contact List
     </ion-list-header>

        <ion-item>
          <h2><span class="text_color_primary strongwords">Mary Standingonwall</span> <span style="color:#32db64;font-size:1.4rem;">  <ion-icon name="pin"></ion-icon> 2.5 km  </span></h2>
          <h3>(231) 231-3231</h3>
          <p></p>
          <ion-icon class="hideme" item-end name="megaphone"></ion-icon>
          <ion-icon class="hideme" item-end name="arrow-dropup-circle"></ion-icon>
        </ion-item>

     <ion-list-header color="light" no-lines>
       Referrals Recieved
     </ion-list-header>
     <ion-item>
       <h2><span class="text_color_primary strongwords">Garry Singh</span> <span    style="text-align:right;width:100%;color:#32db64;font-size:1.4rem;">  <ion-icon name="pin"></ion-icon> 5 km</span></h2>
       <h3>(647) 123-1423 </h3>
       <p>Referred By Arando Qualiejo Djsuodis  <ion-icon color="strong" name="contact"></ion-icon>  <span class="hideme" style="color:#32db64"><ion-icon name="star-half"></ion-icon> 4.1 (24)</span></p>
        <ion-icon class="hideme" item-end name="megaphone"></ion-icon>
        <ion-icon class="hideme" item-end name="arrow-dropup-circle"></ion-icon>
     </ion-item>
     <ion-item>
       <h2><span class="text_color_primary strongwords">Manny Kumar</span> <span style="color:#32db64;font-size:1.4rem;">  <ion-icon name="pin"></ion-icon> 5 km</span></h2>
        <h3>(132) 532-4233 </h3>
       <p>Referred By Buenos Airessd  <ion-icon color="strong" name="contact"></ion-icon>  <span class="hideme" style="color:#32db64"><ion-icon name="star-half"></ion-icon> 4.1 (24)</span></p>
       <ion-icon class="hideme" item-end name="megaphone"></ion-icon>
       <ion-icon class="hideme" item-end name="arrow-dropup-circle"></ion-icon>
     </ion-item>
     <ion-list-header color="light" no-lines>
       Nearby Plumbers
     </ion-list-header>
     <ion-item style="border:1px solid #aaa">
       <h2><span class="text_color_primary strongwords">Baljinder Singh</span> <span style="color:#32db64;font-size:1.4rem;">  <ion-icon name="pin"></ion-icon> 34 km </span></h2>
       <h3>(321) 321-4232 </h3>
       <ion-icon class="hideme" item-end name="megaphone"></ion-icon>
       <ion-icon class="hideme" item-end name="arrow-dropup-circle"></ion-icon>
     </ion-item>
     <ion-item>
       <h2><span class="text_color_primary strongwords">Patander Sandhu</span> <span style="color:#32db64;font-size:1.4rem;">  <ion-icon name="pin"></ion-icon> 12 km </span></h2>
       <h3>(312) 632-3123 </h3>
       <ion-icon class="hideme" item-end name="megaphone"></ion-icon>
       <ion-icon class="hideme" item-end name="arrow-dropup-circle"></ion-icon>
     </ion-item>

     <ion-item>
       <h2><span class="text_color_primary strongwords">John Andreson</span> <span style="color:#32db64;font-size:1.4rem;">  <ion-icon name="pin"></ion-icon> 3 km </span></h2>
       <h3>(416) 534-1423 </h3>
       <ion-icon class="hideme" item-end name="megaphone"></ion-icon>
       <ion-icon class="hideme" item-end name="arrow-dropup-circle"></ion-icon>
     </ion-item>



 </ion-list>

</ion-content>

<ion-footer >
  <ion-toolbar>

    <div  >
      <button ion-button (click)="gotoPage()" color="primary" block>Back</button>
    </div>

  </ion-toolbar>
</ion-footer>
