page-groupchat {
  .title-uname {
    h3 {
      font-size: 15px;
    }
  }
  .msg-wrap.me .bubble,
  .msg-wrap.me .bubble-img,
  .msg-wrap.me .bubble,
  .msg-wrap.me .bubble-img{
      background-color: #ededed !important;
      color: #222;
  }
  .header-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flex-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
        order:1;
        margin-right: 10px;
      }
      .title-wrap {
        order:2;
        display: flex;
        flex-direction: row;
        align-items: center;
        .user-img {
          margin-right: 10px;
          img {
            height: 40px;
            width: 40px;
            @include css3-prefix(border-radius, 100%);
          }
        }
      }
    }
    .flex-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      order:3;
    }
  }

  .select-wrap {
    display: flex;
    align-items: center;
    justify-content:space-between;
    .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .left-arrow {
    order:1;
    margin-top: 0 !important;
    margin-right: 10px;
    }
    .select-title {
    order:2;
    font-size:20px;
    }
    }
    .flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .bar-buttons {
    margin-top: 0 !important;
    }
    }
  }

  .bubble {
    float: left;
    position: relative;
    display: inline-block;
    @include calc(width, '100% - 110px');
    min-height: 55px;
    margin: 0 55px;
    padding: 7px 10px 5px;
    @include css3-prefix(border-radius, 15px);
    &:after {
      position: absolute;
      z-index: -1;
      top: auto;
      bottom: 0;
      height: 70px;
      width: 100px;
      margin-bottom: -10px;
      content: '';
    }
    .msg-time {
      float: right !important;
    }
    img.contact{
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    .view-msg{
      float: left;
      vertical-align: top;
      padding-top: 10px;
      font-size: 16px;
    }
  }

  .msg-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    ion-avatar {
      position: absolute;
      top: auto;
      bottom: 0;
      float: left;
      display: inline-block;
      margin: 0 0 15px;
    }
    &.you {
      ion-avatar {
        left: 0;
      }
      .bubble {
        display: inline-block;
        @include calc(width, '100% - 110px');
        min-height: 55px;
        margin: 0 55px;
        padding: 7px 10px 5px;
        @include css3-prefix(border-radius, 15px);
        @extend .bg-grey;
        &:after {
          left: 0;
          margin-left: -64px;
          margin-bottom: -7px;
          /*background-image: url('../assets/imgs/msg-curve-grey.png');*/
        }
        .displayname {
          margin-bottom: 5px;
          color: $mebubble-color;
        }
        .msg {
          margin-bottom: 5px;
        }
        img.contact{
          float: left;
          height: 40px;
          width: 40px;
          margin-right: 15px;
          border-radius: 50%;
        }
        .view-msg{
          float: left;
          vertical-align: top;
          padding-top: 10px;
          font-size: 16px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          border-left: 3px solid #EDEDED;
          border-bottom: 3px solid #EDEDED;
        }
        .img-number {
          position: absolute !important;
          top: 29.8%;
          left: 50.6%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          &.overlay {
            position: fixed;
            height: 96px;
            width: 98px;
            background-color: rgba(0, 0, 0, .5);
          }
        }
      }
      .read-recipients {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        ion-icon {
          margin-right: 5px;
          color: $grey-primary;
        }
        p {
          margin-right: 5px;
          color: $grey-primary;
        }
      }
    }
    &.me {
      ion-avatar {
        right: 0;
        float: right;
      }
      .bubble {
        @extend .bg-primary;
        &::after {
          right: 0;
          margin-right: -64px;
          /*background-image: url('../assets/imgs/msg-curve.png');*/
        }
        .displayname {
          margin-bottom: 5px;
          color: $yoububble-color;
        }
        .msg {
          margin-bottom: 5px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          border-left: 3px solid #359FC0;
          border-bottom: 3px solid #359FC0;
        }
        .img-number {
          position: absolute !important;
          top: 28.8%;
          left: 50.9%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          &.overlay {
            position: fixed;
            height: 97px;
            width: 97px;
            background-color: rgba(0, 0, 0, .5);
          }
        }
        img.contact{
          float: left;
          height: 40px;
          width: 40px;
          margin-right: 15px;
          border-radius: 50%;
        }
        .view-msg{
          float: left;
          vertical-align: top;
          padding-top: 10px;
          font-size: 16px;
        }
        .read-recipients {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          ion-icon {
            margin-right: 5px;
            color: $grey-primary;
          }
          p {
            margin-right: 5px;
            color: $grey-primary;
          }
        }
      }
    }
  }

  .bubble-img {
    position: relative;
    display: inline-block;
    @include calc(width, '100% - 110px');
    min-height: 55px;
    margin: 0 55px;
    padding: 7px 10px 5px;
    @include css3-prefix(border-radius, 15px);
    &:after {
      position: absolute;
      z-index: -1;
      top: auto;
      bottom: 0;
      height: 70px;
      width: 100px;
      margin-bottom: -10px;
      content: '';
    }
    .msg-time {
      float: right !important;
    }
  }

  .msg-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    ion-avatar {
      position: absolute;
      top: auto;
      bottom: 0;
      float: left;
      display: inline-block;
      margin: 0 0 15px;
    }
    &.you {
      ion-avatar {
        left: 0;
      }
      .bubble-img {
        display: inline-block;
        width: 220px;
        min-height: 55px;
        margin: 0 55px;
        padding: 7px 10px 5px;
        @include css3-prefix(border-radius, 15px);
        @extend .bg-grey;
        @include mq(phone-small, max) {
          @include calc(width, '100% - 110px');
        }
        &:after {
          left: 0;
          margin-left: -64px;
          margin-bottom: -7px;
          /*background-image: url('../assets/imgs/msg-curve-grey.png');*/
        }
        .displayname {
          margin-bottom: 5px;
          color: $mebubble-color;
        }
        .msg {
          margin-bottom: 5px;
          line-height: 17px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          &:nth-child(1) {
            border-right: 5px solid #EDEDED;
            border-bottom: 5px solid #EDEDED;
          }
          &:nth-child(2) {
            border-bottom: 5px solid #EDEDED;
          }
          &:nth-child(3) {
            border-right: 5px solid #EDEDED;
          }
        }
        .img-number {
          position: absolute !important;
          top: 28.9% !important;
          left: 49.5%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          @include mq(phone-small, max) {
            top: 25.4% !important;
            left: 49.9%;
          }
          &.overlay {
            position: fixed;
            height: 97.5px;
            width: 99px;
            background-color: rgba(0, 0, 0, .5);
            @include mq(phone-small, max) {
              height: 97.5px;
              width: 98.8px;
            }
          }
        }
      }
      .read-recipients {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        ion-icon {
          margin-right: 5px;
          color: $grey-primary;
        }
        p {
          margin-right: 5px;
          color: $grey-primary;
        }
      }
    }
    &.me {
      ion-avatar {
        right: 0;
        float: right;
      }
      .bubble-img {
        float: right;
        display: inline-block;
        width: 220px;
        min-height: 55px;
        margin: 0 55px;
        padding: 7px 10px 5px;
        @include css3-prefix(border-radius, 15px);
        @extend .bg-primary;
        @include mq(phone-small, max) {
          @include calc(width, '100% - 110px');
        }
        &::after {
          right: 0;
          margin-right: -64px;
          /*background-image: url('../assets/imgs/msg-curve.png');*/
        }
        .displayname {
          margin-bottom: 5px;
          color: $yoububble-color;
        }
        .msg {
          margin-bottom: 5px;
          line-height: 17px;
        }
        .msg-partision {
          height: 97px;
          width: 99px;
          margin-top: -3px;
          display: inline-block;
          &:nth-child(1) {
            border-right: 5px solid #359FC0;
            border-bottom: 5px solid #359FC0;
          }
          &:nth-child(2) {
            border-bottom: 5px solid #359FC0;
          }
          &:nth-child(3) {
            border-right: 5px solid #359FC0;
          }
        }
        .img-number {
          position: absolute !important;
          top: 28.9% !important;
          left: 49.5%;
          transform: translateY(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          color: $white;
          z-index: 99;
          @include mq(phone-small, max) {
            top: 25.4% !important;
            left: 49.9%;
          }
          &.overlay {
            position: fixed;
            height: 97.5px;
            width: 99px;
            background-color: rgba(0, 0, 0, .5);
            @include mq(phone-small, max) {
              height: 97.5px;
              width: 98.8px;
            }
          }
        }
        .read-recipients {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          ion-icon {
            margin-right: 5px;
            color: $grey-primary;
          }
          p {
            margin-right: 5px;
            color: $grey-primary;
          }
        }
      }
    }
  }

  .footer {
      border-top: 1px solid $grey;
      .toolbar-content {
        min-height: 0;
      }
      input.text-input {
        @extend .bg-transparent;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
      }
  }

  .select-item{
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: rgba(53, 159, 192, .3);
      content: '';
    }
  }

  ion-label {
    &.label-md {
      line-height: 1 !important;
    }
  }
  /* design for ios */
  .bar-buttons-ios {
    .bar-button-default-ios {
    }
  }
  .toolbar-ios {
    .title-ios {
      padding: 17px 60px 1px !important;
      .toolbar-title-ios {
        text-align: left !important;
      }
    }
  }
  .toolbar-content-ios {
    .header-wrap {
    }
  }
  .content-ios {
    .chatwindow {
      margin-top: 10px;
    }
  }
  /* End */
}
