page-chats {

  .referralicon {
    font-size:40px;
    border: 0px solid red;
  }
  .item-block {
    padding: 1px;
    button {
      @extend .bg-transparent;
      .icon {
      }
      .referralicon {
        font-size:40px;
      }

    }
  }
}
/*
page-chats {
  .label-md {
    margin: 7px 8px 7px 0 ;
  }
  .item-block button .icon {
      color: #111;
  }
  .sponseredbusines_bottom > .item-inner {
    padding: 0px 10px;
  }
  .header-wrap {
    display: flex;
    align-items: left;
    justify-content: space-between;
    .user-img {
      order:1;
      height: 55px;
      width: 55px;
      margin: 0;
      border-radius: 100%;
      img {
        height: 50px;
        min-width: 50px;
        border-radius: 100%;
      }
    }
    .header-title {
      order:2;
      font-size: 20px;
      font-weight: 500;
    }
    .flex-end {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      order:3;
      ion-icon {
        &.notification {
          font-size: 28px !important;
        }
      }
      ion-badge {
        &.notification {
          margin-left: -13px;
          margin-top: -13px;
          font-size: 11px;
          padding: 4px;
        }
      }
    }
  }
  .select-wrap {
    display: flex;
    align-items: center;
    justify-content:space-between;
    .flex-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
        order:1;
        margin-top: 0 !important;
        margin-right: 10px;
      }
      .select-title {
        order:2;
        font-size:20px;
      }
    }
    .flex-end {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .disable-hover {
        margin: 0 !important;
        background-color: transparent;
        box-shadow: none;
      }
      .trash-icon {
        order: 1;
        box-shadow: none;
        background-color: transparent;
      }
      .unarchive-img {
        order: 2;
        justify-content: flex-end;
        img {
          width: 16px;
          height: 16px;
        }
      }
      .bar-buttons {
        margin-top: 0 !important;
      }
    }
  }
  .endItem{
    height:35px;
    p {
      font-size:10px;
    }
    button {
      text-align:right;
    }
  }

  .lastMSG {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size:15px;
    color:#666;
    ion-icon {
      &.icon {
        margin-right: 5px;
      }
    }
  }

  ion-badge {
    &.badge {
      padding: 4px 6px 3px;
      margin-top: 5px !important;
      border-radius: 50%;
    }
  }

  .select-contact{
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      background-color: rgba(53, 159, 192, .3);
      content: '';
    }
  }
  .searchbar {
    @extend .searchbar;
  }
  .item-block {
    padding: 1px;
    button {
      @extend .bg-transparent;
      .icon {
        font-size: 20px;
        @extend .text-primary;
      }
      .referralicon {
        font-size:40px;
      }

    }
  }
  button {
    &.user-img {
      height: 55px;
      width: 55px;
      margin: 0;
      border-radius: 100%;
      .button-inner {
        img {
          height: 50px;
          min-width: 50px;
          border-radius: 100%;
        }
      }
    }
  }
  ion-buttons {
    &.bar-buttons {
      float: right; 
      display: inline-block;
    }
  }
  ion-item-divider {
    color: #858585 !important;
    &.item {
      border-bottom: 0 !important;
      border-top: 0 !important;
    }
    ion-label {
      &.label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
    }
  }
    ion-item-divider {
      &.item-divider-ios {
        background-color: transparent !important;
      }
    }

  .referralicon {
    font-size:40px;
    border: 0px solid red;
  }

  .btnsonthelast .item-button {
      padding: 0 0.6em;
      height: 55px;
      font-size: 1.2rem;
      margin:0px;
  }

  .item-md [item-end] {
      margin:0px;
  }
  .whitelabelcss {
      border:1px solid #ddd;

  }
  .sponseredbusines {
      background-color:#eee;
  }

}
*/
