<ion-header>
  <ion-navbar>
    <ion-title>
      TapAlly
    </ion-title>
    <div class="header-wrap" *ngIf="selectContact != true">

      <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
      <div class="flex-end">
        <ion-buttons end>
          <button ion-button icon-only (click)="sendToBroadcastPage()">
            <ion-icon name="megaphone"   class="megaphone"></ion-icon>
          </button>

          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="notifications" class="notification"></ion-icon>
            <ion-badge class="notification" color="danger" *ngIf="requestcounter != null">{{requestcounter}}</ion-badge>
          </button>
          <button class="popover-btn hide" ion-button icon-only (click)="viewPopover($event)">
            <ion-icon ios="md-more" md="md-more"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
    <div class="select-wrap" *ngIf="selectContact == true">
      <div class="flex-start">
        <ion-buttons start class="left-arrow">
          <button start ion-button icon-only (click)="closeButtonClick()">
            <ion-icon ios="md-close" md="md-close"></ion-icon>
          </button>
        </ion-buttons>
        <div class="select-title" text-left left *ngIf="selectCounter > 0">
          {{selectCounter}} Selected
        </div>
      </div>
      <div class="flex-end">
        <button ion-button icon-only (click)="deleteAllMessage()">
          <ion-icon ios="md-trash" md="md-trash"></ion-icon>
        </button>
        <!-- <button ion-button icon-only (click)="archiveChat()">
            <ion-icon ios="md-archive" md="md-archive"></ion-icon>
          </button> -->
      </div>
    </div>
  </ion-navbar>
  <!--
  <ion-searchbar class="border-bottom" placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
-->
</ion-header>

<ion-content padding>

  <ion-card *ngIf="false && showPaidSign">
    <ion-card-content>
       You have not paid yet for business. Please pay
    </ion-card-content>
  </ion-card>


  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <div text-center padding *ngIf="isNoRecord">No record found!</div>
  <ion-list  >

    <ng-container *ngIf="allChatListing.length > 0">
      <div *ngFor="let item of allChatListing" (press)="popoveroncontact(item,$event)" class="list {{item.whitelabelcss}}">
        <ng-container *ngIf="item.gpflag == 0" class="list ">
          <ion-item  *ngIf="false && item.whitelabelcss" class="sponseredbusines">
                 Sponsered Business
          </ion-item>
          <ion-item *ngIf="item.isActive == 1 " class="list-item"
            [ngClass]="{ 'select-contact': item.selection}">
            <ion-avatar item-start class="avtar-class">
              <img *ngIf="item.isBlock == false" class="avtar-img-list" (click)="viewPofile(item.photoURL || 'assets/imgs/user.png',item.displayName )"
                src="{{item.photoURL || 'assets/imgs/user.png'}}">
              <img *ngIf="item.isBlock == true" class="avtar-img-list" (click)="viewPofile('assets/imgs/user.png',item.displayName )"
                src="{{'assets/imgs/user.png'}}">
            </ion-avatar>

            <ion-label class="list " (click)="buddychat(item,$event,item.unreadmessage)">
              <b class="list">{{item.displayName}}</b>
              <br>
              <ng-container *ngIf="item.lastMessage" class="list">
                <span *ngIf="item.lastMessage.type == 'message'" class="lastMSG">{{item.lastMessage.message}}</span>
                <span *ngIf="item.lastMessage.type == 'image'" class="lastMSG">
                  <ion-icon name="camera" class="list"></ion-icon> Photo
                </span>
                <span *ngIf="item.lastMessage.type == 'contact'" class="lastMSG">
                  <ion-icon name="contact" class="list"></ion-icon> Contact
                </span>
                <span *ngIf="item.lastMessage.type == 'audio'" class="lastMSG">
                  <ion-icon name="musical-note" class="list"></ion-icon> Audio
                </span>
                <span *ngIf="item.lastMessage.type == 'document'" class="lastMSG">
                  <ion-icon name="document" class="list"></ion-icon> document
                </span>
                <span *ngIf="item.lastMessage.type == 'location'" class="lastMSG">
                  <ion-icon name="locate" class="list"></ion-icon> location
                </span>
              </ng-container>
            </ion-label>

            <div class="endItem btnsonthelast " item-end outline>
                <button ion-button (click)="referralSendBackward(item)" clear item-start> <ion-icon class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
                <button  ion-button (click)="referralSendForward(item)" clear  item-end><ion-icon class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
            </div>

            <div class="endItem hide" item-end outline>
              <span *ngIf="item.lastMessage" class="list">
                <p *ngIf="(today |  date:'dd/MM/yyyy') != item.lastMessage.dateofmsg" class="list">
                  {{item.lastMessage.dateofmsg}}</p>
                <p *ngIf="(today |  date:'dd/MM/yyyy') == item.lastMessage.dateofmsg" class="list">
                  {{item.lastMessage.timeofmsg}}</p>
              </span>
              <button class="list">
                <ion-badge item-end *ngIf="item.unreadmessage " class="list">{{item.unreadmessage}}</ion-badge>
              </button>
            </div>


          </ion-item>
        </ng-container>
        <ion-item *ngIf="item.gpflag == 1" class="list" [ngClass]="{ 'select-contact': item.selection}">
          <ion-avatar item-start class="avtar-class">
            <img class="list" src="{{item.groupimage || 'assets/imgs/user.png'}}">
          </ion-avatar>
          <ion-label class="list" (click)="openchat(item, $event)" >
            <b class="list">{{item.groupName}} </b>
            <br>

            <ng-container *ngIf="item.lastmsg" class="list">

              <span *ngIf="item.lastmsg !== 'image' && item.lastmsg !== 'contact' && item.lastmsg !== 'audio' && item.lastmsg !== 'document' && item.lastmsg !== 'location' "
                class="lastMSG">{{item.lastmsg}}</span>
              <span *ngIf="item.lastmsg == 'image'" class="lastMSG">
                <ion-icon name="camera" class="list"></ion-icon> Photo
              </span>
              <span *ngIf="item.lastmsg == 'contact'" class="lastMSG">
                <ion-icon name="contact" class="list"></ion-icon> Contact
              </span>
              <span *ngIf="item.lastmsg == 'audio'" class="lastMSG">
                <ion-icon name="musical-note" class="list"></ion-icon> Audio
              </span>
              <span *ngIf="item.lastmsg == 'document'" class="lastMSG">
                <ion-icon name="document" class="list"></ion-icon> document
              </span>
              <span *ngIf="item.lastmsg == 'location'" class="lastMSG">
                <ion-icon name="locate" class="list"></ion-icon> location
              </span>
            </ng-container>

          </ion-label>
            <div class="endItem btnsonthelast " item-end outline>
                <button ion-button (click)="referralSendBackward(item)" clear item-start> <ion-icon class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
                <button  ion-button (click)="referralSendForward(item)" clear  item-end><ion-icon class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
            </div>
          <div class="endItem hide" item-end outline>
            <span *ngIf="item.lastmsg" class="list">
              <p class="list" *ngIf="(today |  date:'dd/MM/yyyy') != item.dateofmsg"> {{item.dateofmsg}}</p>
              <p class="list" *ngIf="(today |  date:'dd/MM/yyyy') == item.dateofmsg"> {{item.timeofmsg}}</p>
            </span>
          </div>
        </ion-item>

      </div>

    </ng-container>
    <div *ngIf="isData" padding text-center>
      No chat found!
    </div>
  </ion-list>


  <ion-fab bottom right>
    <button ion-fab (click)="addbuddy()">
      <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>


<ion-footer *ngIf="whitelabelObj.buddy_uid && this.whitelabelObj.buddy_uid!='undefined'">
  <div style="border:0px solid #ddd;">
    <ion-item style="height:20px;padding:0px 10px;background-color:#dedede;color:#999;">
      Your Sponsered Business
    </ion-item>
    <ion-item   class="sponseredbusines_bottom" >
      <h2><span class="text_color_primary strongwords">{{whitelabelObj.buddy_displayName}}</span></h2>
      <p>{{whitelabelObj.sponseredbusines_businessName}}</p>
      <div class="endItem btnsonthelast " item-end outline>
          <button ion-button (click)="referralSendBackward(whitelabelObj)" clear item-start> <ion-icon class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
          <button  ion-button (click)="referralSendForward(whitelabelObj)" clear  item-end><ion-icon class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
      </div>
    </ion-item>
  </div>
</ion-footer>
<ion-footer *ngIf="false && !whitelabelObj.buddy_uid && this.whitelabelObj.buddy_uid!='undefined'">
  <!-- DISABLED FOR NOW :  Will be shown to those who have invited_by set but their invetee (person who invited them) did not paid -->
  <div style="border:0px solid #ddd;">
    <ion-item  (click)="sendto_invite()" style="padding-left:10px;background-color:#dedede;color:#999;">
      Whitelabel and Outreach your clients
    </ion-item>
  </div>
</ion-footer>
<!-- This does not work
<ion-footer *ngIf="!whitelabelObj.buddy_uid && !iAmBusinessOwner">
  <div style="border:0px solid #ddd;">
    <ion-item (click)="sendto_registerbusiness()" style="background-color:#dedede;color:#999;">
      Register Your Business
    </ion-item>
  </div>
</ion-footer>
-->
