page-map {
  #map {
      width: 100%;
      height: 100%;
    }
    .header-wrap {
      display:flex;
      align-items:center;
      justify-content: space-between;
      .flex-start {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .left-arrow {
          order:1;
          margin-right: 10px;
        }
        .header-title {
          order:2;
          font-size: 20px;
        }
      }  
      .flex-end {
        justify-content: flex-end;
      }
    }
}

