
<ion-header>
  <ion-navbar >
    <div class="header-wrap">
        <div class="flex-start">
            <!-- <ion-buttons class="left-arrow" left>
                <button ion-button icon-only (click)="goBack()">
                  <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                </button>
            </ion-buttons> -->
            <div class="header-title">Map</div>
        </div>  
        <div class="flex-end">
            <ion-buttons end *ngIf="flag==true"> 
                <button ion-button [disabled]="!this.latLng" (click)="share()">Share</button>
            </ion-buttons>
        </div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div #map id="map"></div>  
</ion-content>
