<ion-header>
  <ion-toolbar>
    <ion-title>Validate Your Phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item>
    <ion-label position="stacked">Enter Your Phone Number</ion-label>
    <ion-input type="number" placeholder="(647-123-1234)"  ></ion-input>
  </ion-item>

  <ion-row >
    <ion-col align-items-center>
      <ion-button color="dark">Validate</ion-button>
    </ion-col>
  </ion-row>
  <ion-row align-items-center>
    <ion-col>
      <small>Standard Charges May Apply</small>
    </ion-col>
  </ion-row>


</ion-content>
