<ion-content padding>


  <ion-card  class="maincard_bubble" text-center padding  *ngIf="!doIHaveRegisteredBusinessAlready" >
    <ion-card-content >
      <ion-card-title>
        Expand your network in meaningful way
        </ion-card-title>
      <p>
        We need access to your clients to make it easy for you to exchange referrals and earn loyality with busineess of your choice
      </p>
    </ion-card-content>

 </ion-card>


     <button  ion-button block  (click)="addbuddy()">
        Import Contacts
     </button>





</ion-content>
