<ion-header *ngIf="showheader">
  <ion-navbar hideBackButton>
    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Invite Contacts</ion-title>
    <ion-buttons right class='rightsidebtncss'>
      <button ion-button icon-only (click)="refreshPage()">
        <ion-icon class="rightsidebtncss"  name="refresh-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
</ion-header>

<!--
<ion-header *ngIf="showheader">
  <ion-navbar color="darkblue" >
    <div class="header-wrap">
        <div class="flex-start">
          <div class="header-title">Contacts</div>
        </div>
        <div class="flex-end">
          <ion-buttons end>
              <button ion-button icon-only (click)="refreshPage()">
                <ion-icon ios="md-refresh" md="md-refresh"></ion-icon>
              </button>
              <button   ion-button icon-only (click)="addnewContact($event)">
                <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
              </button>
          </ion-buttons>
        </div>
    </div>
  </ion-navbar>
  <ion-searchbar placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
</ion-header>
-->

<ion-content>  
 <ion-list class="contactslistion">
   <ion-item-group>
        <div *ngFor="let item of mainArray"  >
          <div  class="border-bottom" *ngIf="userId != item.uid">
            <ion-item no-lines class="contact-list">
                <div (click)="buddychat(item)">
                  <ion-avatar item-start>
                  <!-- <ion-icon name="person"></ion-icon> -->
                    <img *ngIf="item.isBlock == false" src="{{item.photoURL || userpic}}">
                    <img *ngIf="item.isBlock == true" src="{{'assets/imgs/user.png' || userpic }}">
                  </ion-avatar>
                  <div class="item-info">
                    <h2 *ngIf="item.displayName">{{item.displayName}}</h2>
                    <p *ngIf="item.disc"  [innerHTML]="item.disc" ></p>
                    <!-- <ng-container *ngIf="item.isUser == '1'"> -->
                  </div>

                </div>

                <button item-end outline class="btn-plain" (click)="buddychat(item)"
                *ngIf="item.status != null && item.status != 'pending' && item.isUser == '1' && item.isUser != '0' && !item.isdisable"
                >
                   <ion-icon end item-end name='arrow-dropright-circle'> </ion-icon>
                </button>

                <button item-end outline class="btn-plain" [disabled]="reqStatus" (click)="sendreq(item)" *ngIf="item.status == null && item.isUser == '1'">
                  <ion-icon name="person-add"></ion-icon>Add
                </button>
                <button item-end outline class="btn-plain" *ngIf="item.status == 'pending' && item.isUser == '1'">
                  <ion-icon name="time"></ion-icon>Pending
                </button>
                <!-- <button item-end outline class="btn-plain" (click)="buddychat(item)" *ngIf="(item.status != null && item.status != 'pending' && item.isUser == '1')">
                  Go to Chat
                </button> -->
                <!-- <button item-end outline class="btn-plain" *ngIf="item.status == 'friend' && item.isUser == '1'">
                  <ion-icon name="time"></ion-icon>Chat
                </button> -->
              <!-- </ng-container> -->



                <button item-end outline class="btn-plain" (click)="sendSMS(item)" *ngIf="item.isUser == '0' && !item.isdisable">
                  <ion-icon name="add"></ion-icon>Invite
                </button>

                <button item-end outline class="btn-plain" (click)="inviteReq(item)" *ngIf="item.isdisable">
                  <ion-icon name="add"></ion-icon>Invited
                </button>

            </ion-item>
        </div>
        </div>
   </ion-item-group>
 </ion-list>
 <div *ngIf="isData" padding-horizontal>
        No contacts found!
 </div>
</ion-content>
