<ion-item no-line>
    <ion-label (click)="sendDocument()" no-line >Documents</ion-label>
  </ion-item>
  <ion-item (click)="sendPicMsg()">
    <ion-label no-line >Camera</ion-label>
  </ion-item>
  <ion-item (click)="sendGalleryPicMsg()" no-line>
    <ion-label no-line >Gallery</ion-label>
  </ion-item>
  <!-- <ion-item no-line (click)="sendAudioMsg()">
    <ion-label no-line >Audio</ion-label>
  </ion-item> -->
  <ion-item no-line (click)="openContacts($event)">
    <ion-label no-line >Contact</ion-label>
  </ion-item>
  <ion-item no-line (click)="openMap($event)">
    <ion-label no-line >Current Location</ion-label>
  </ion-item>