<ion-header>
  <ion-navbar>
    <div class="header-wrap">
      <!--
      <button ion-button icon-only (click)="backButtonClick()">
          <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </button>
    -->
      <div class="header-title">Register Business</div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="authForm" (submit)="save()">

<ion-card>
  <ion-card-content>
    Give your business exposure it deserve
  </ion-card-content>
</ion-card>

    <ion-label class="content-title"> Business Name</ion-label>
    <ion-input type="text" (input)="onChange($event.keyCode)" formControlName="businessname" id="businessname" [value]="businessname" [(ngModel)]="businessname"
    maxlength="30" placeholder="Business Name"></ion-input>
    <ion-label *ngIf="(!authForm.controls.businessname.valid||!msgstatus)  && (authForm.controls.businessname.dirty || submitted)">
        <p class="errormsg">Please enter a valid name.</p>
    </ion-label>


    <ion-label class="content-title"> Email</ion-label>
    <ion-input type="text" (input)="onChange($event.keyCode)" formControlName="useremail" id="useremail" [value]="useremail" [(ngModel)]="useremail"
    maxlength="30" placeholder="Email"></ion-input>
    <ion-label *ngIf="(!authForm.controls.useremail.valid||!msgstatus)  && (authForm.controls.useremail.dirty || submitted)">
        <p class="errormsg">Please enter a valid email.</p>
    </ion-label>

    <ion-label class="content-title"> Business Category</ion-label>

    <ion-list>
      <ion-item>
        <ion-select placeholder="Please Select" [selectOptions]="selectOptions" [(ngModel)]="bcats" formControlName="bcats" id="bcats" >
             <ion-option *ngFor="let item of cats" value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>




    <button ion-button class="button-secondary" type="submit" [disabled]="!authForm.valid || !this.msgstatus" >Submit</button>
    <button ion-button (click)="btnSkipStep()" clear >SKIP STEP</button>
  </form>
</ion-content>
