<ion-header  >
  <ion-navbar >
    <ion-title>
      TapAlly
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <div class="flex-end-notif">
      <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="notifications" class="notification"></ion-icon>
            <ion-badge class="notification" color="danger" *ngIf="requestcounter != null">{{requestcounter}}</ion-badge>
          </button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{total_connections}} Connections</h3>
  <h3>{{total_referral_send}} Referral Send</h3>
  <h3>{{total_referral_recieved}} Referral Recieved</h3>
  <h3>{{total_earned}} Points Earned</h3>

  <ion-fab right bottom >
    <button (click)="addnewContact()" ion-fab color="danger"><ion-icon name="contacts"></ion-icon></button>
  </ion-fab>



</ion-content>
<ion-footer>
  <div style="border:1px solid #ddd;">
    <ion-item style="height:50px;background-color:#dedede;color:#999;">
      Sponsered Business
    </ion-item>
    <ion-item (click)="fnGoToSearchNextPage()" style="text-align:left;">
      <h2>
        <span class="text_color_primary strongwords">John Smith</span>
        <span    style="text-align:right;width:100%;color:#32db64;font-size:1.4rem;"></span>
      </h2>
      <p>ABC Corporation  <span class="hideme" style="color:#32db64"></span></p>
       <ion-icon end item-end name='arrow-dropright-circle'> </ion-icon>
    </ion-item>
  </div>
</ion-footer>
