<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title menuClose>TapAlly</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <p class="leftbarinfo">
      &copy; 2019 TapAlly Corporation, Canada  
    </p>
    <!--
    <ion-footer  >
        <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;"><button ion-button color="dark" clear>Legal Stuff</button></ion-item>
    </ion-footer>

        <div class="atthebottom">
          <button ion-button color="dark" clear>&copy; 2019 TapAlly Corporation, Canada</button>
        </div>
  -->
  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
